@import url(https://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic);
@import "../css/reset.css";
@import "../css/grid.css";
@import "../fonts/bender/bender.css";
@import "../css/style2.css";
@import "../css/alex.css";
@import "../css/style3.css";
@import "../css/style_new.css";
@import "../js/formstyler/formstyler.css";
@import "../css/jquery.jscrollpane.css";
@import "../css/jquery.gallery.css";
@import "../css/owl.transitions.css";
@import "../css/tooltipster.bundle.css";
@import "../css/select2.css";
@import "../css/swiper.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%;height: 100%;}

body{
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  line-height:20px;
  height: 100%;
  color: #fafafb;
  min-width:1240px;
  background:url(../static/images/main_top_bg.png) 50% 0 repeat-x #13171a;
  -webkit-text-size-adjust: none;
}

.global_wrap{
  background: url(../static/images/main_pattern.png) 50% 0 repeat;
}

.main{
  width: 1200px;
  margin: 0 auto;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------> Links And buttons <------------------*/
a {
  color: #fafafb;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#01f5fb;
  text-decoration:none;
}

.sm_link{
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.btn{
  display:inline-block;
  padding: 0 15px;
  margin: 0 0 0;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  text-align: center;
 }


  [data-skin="aqua"]{
    background-color: rgba(1,245,251,.10);
    color: #01f4fb !important;
  }
  [data-skin="aqua"]:hover{
    background-color: rgba(1,245,251,.35);
  }
  [data-skin="aqua"]:active{
    background-color: rgba(1,245,251,.25);
  }
  .aqua_color{
    color: #01F4FB;
  }
  [data-skin]:hover{
    color: #fff;
  }

  [data-skin="white"]{
    background-color: rgba(255,255,255,.10);
    color: #fff !important;
  }
  [data-skin="white"]:hover{
    background-color: rgba(255,255,255,.35);
  }
  [data-skin="white"]:active{
    background-color: rgba(255,255,255,.25);
  }

  [data-skin="yellow"]{
    background-color: rgba(253,255,81,.1);
    color: #fdff51 !important;
  }
  [data-skin="yellow"]:hover{
    background-color: rgba(253,255,81,.35);
  }
  [data-skin="yellow"]:active{
    background-color: rgba(253,255,81,.25);
  }

  .aqua_color2{
    color: #01F5FB;
  }
  .aqua_color2:hover{
    color: #FFF;
  }
  
  [data-skin="blue2"]{
    background-color: rgba(8,165,231,.10);
    color: #009de0 !important;
  }
  [data-skin="blue2"]:hover{
    background-color: rgba(8,165,231,.35);
  }
  [data-skin="blue2"]:active{
    background-color: rgba(8,165,231,.25);
  }

  /*------- small button aqua skin ---------*/
    [data-size="small"]{
      margin-left: 2px;
      margin-right: 2px;
      height: 28px;
      line-height: 28px;
    }
    [data-size="small2"]{
      margin-left: 2px;
      margin-right: 2px;
      height: 30px;
      line-height: 30px; 
      font-size: 12px;
      padding: 0 28px;
    }

    [data-size="small"]:before,
    [data-size="small"]:after,
    [data-size="small2"]:before,
    [data-size="small2"]:after{
      width: 8px;
      height: 100%;
      top: 0;
      display: block;
      position: absolute;
      content: "";
    }
    [data-size="small2"][data-skin="white"]{
      padding-right: 25px;
      padding-left: 25px;
    }

    [data-skin="aqua"][data-size="small"]:before{
      background: url(../static/images/aqua_sm_btn_bef.png) 0 0 no-repeat;
      left: -2px;
    }
    [data-skin="aqua"][data-size="small"]:after{
      background: url(../static/images/aqua_sm_btn_aft.png) 0 0 no-repeat;
      right: -2px;
    }

    [data-skin="aqua"][data-size="small2"]:before{
      background: url(../static/images/aqua_sm_btn_bef2.png) 0 0 no-repeat;
      left: -2px;
    }
    [data-skin="aqua"][data-size="small2"]:after{
      background: url(../static/images/aqua_sm_btn_aft2.png) 0 0 no-repeat;
      right: -2px;
      width: 10px;
    }
    [data-skin="white"][data-size="small2"]:before{
      background: url(../static/images/white2_sm_btn_bef2.png) 0 0 no-repeat;
      left: -2px;
      width: 10px;
    }
    [data-skin="white"][data-size="small2"]:after{
      background: url(../static/images/white2_sm_btn_aft2.png) 0 0 no-repeat;
      right: -2px;
      width: 10px;
    }
    
    /*----  blue skin ------*/
    [data-skin="blue2"][data-size="small"]:before{
      left: -2px; 
      background: url(../static/images/blue_sm_btn_bef.png) 0 0 no-repeat;
    }
    [data-skin="blue2"][data-size="small"]:after{
      right: -2px; 
      background: url(../static/images/blue_sm_btn_aft.png) 0 0 no-repeat;
    }

    [data-skin="blue2"][data-size="medium"]:before{
      left: -2px; 
      background: url(../static/images/blue_md_btn_bef.png) 0 0 no-repeat;
    }
    [data-skin="blue2"][data-size="medium"]:after{
      right: -2px; 
      background: url(../static/images/blue_md_btn_aft.png) 0 0 no-repeat;
    }
    
    /*----  yellow skin ------*/
    [data-skin="yellow"][data-size="small"]:before{
      background: url(../static/images/yellow_sm_btn_bef.png) 0 0 no-repeat;
      left: -2px;
    }
    [data-skin="yellow"][data-size="small"]:after{
      background: url(../static/images/yellow_sm_btn_aft.png) 0 0 no-repeat;
      right: -2px;
    }
    .xs_btn[data-size="small"]:before{
      background: url(../static/images/white_xs_btn_bef.png) 0 0 no-repeat;
      left: -2px;
    }
    .xs_btn[data-size="small"]:after{
      background: url(../static/images/white_xs_btn_aft.png) 0 0 no-repeat;
      right: 0px;
    }
    .xs_btn[data-size="small"]:before,
    .xs_btn[data-size="small"]:after{
      width: 10px;
    }
    .xs_btn{
      height: 30px;
      -webkit-border-radius: 0 4px 0 0;
              border-radius: 0 4px 0 0;
          padding: 0 35px;
          font-size: 14px !important;
    }
    .wide_btn{
      width: 300px;
      text-align: center;
    }

    /* ---- medium button aqua skin ------*/

    [data-size="medium"]{
      margin-left: 2px;
      margin-right: 2px;
      height: 38px;
      line-height: 38px;
    }

    [data-size="medium"]:before,
    [data-size="medium"]:after{
      width: 10px;
      height: 100%;
      top: 0;
      display: block;
      position: absolute;
      content: "";
    }

    /* ---- medium button aquaa skin ------*/

    [data-skin="aqua"][data-size="medium"]:before{
      background: url(../static/images/aqua_med_btn_bef.png) 0 0 no-repeat;
      left: -2px;
    }
    [data-skin="aqua"][data-size="medium"]:after{
      background: url(../static/images/aqua_med_btn_aft.png) 0 0 no-repeat;
      right: -2px;
    }

    /* ---- medium button yellow skin ------*/

    [data-skin="yellow"][data-size="medium"]:before{
      background: url(../static/images/yellow_mid_btn_bef.png) 0 0 no-repeat;
      left: -2px;
    }
    [data-skin="yellow"][data-size="medium"]:after{
      background: url(../static/images/yellow_mid_btn_aft.png) 0 0 no-repeat;
      right: -2px;
    }

    /* ---- medium button dark skin ------*/
  
    [data-skin="dark"]{
      color: #fff !important;
      background-color: rgba(255,255,255,.1);
    }
    [data-skin="dark"]:hover{
      background-color: rgba(255,255,255,.35);
    }
    [data-skin="dark"]:active{
      background-color: rgba(255,255,255,.25);
    }
    [data-skin="dark2"]{
      color: #fff;
      background-color: rgba(255,255,255,.2);
    }

    [data-skin="dark"][data-size="medium"]:before,
    [data-skin="dark"][data-size="small"]:before{
      background: url(../static/images/dark_med_btn_bef.png) 0 0 no-repeat;
      left: -2px;
    }
    [data-skin="dark"][data-size="medium"]:after,
    [data-skin="dark"][data-size="small"]:after{
      background: url(../static/images/dark_med_btn_aft.png) 0 0 no-repeat;
      right: -2px;
    }
    [data-skin="dark"][data-size="small"]:before,
    [data-skin="dark"][data-size="small"]:after{
      -webkit-background-size: contain;
           -o-background-size: contain;
              background-size: contain;
    }

    /* ---- medium button dark blue ------*/
  
    [data-skin="blue"]{
      color: #08a5e7;
      background-color: rgba(8,165,231,0.4);
    }

    [data-skin="blue"][data-size="medium"]:before{
      background: url(../static/images/blue_med_btn_bef.png) 0 0 no-repeat;
      left: -2px;
    }
    [data-skin="blue"][data-size="medium"]:after{
      background: url(../static/images/blue_med_btn_aft.png) 0 0 no-repeat;
      right: -2px;
    }





  [data-size="small"]{
    font-size: 13px;
  }

  [data-size="medium"]{
    font-size: 16px;
  }


/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase;}
.reg_no {text-transform:none !important;}
.tt_low{text-transform: lowercase;}
.f_left {float:left;}
.f_right {float:right;}
.al_left{text-align: left;}
.al_right {text-align:right;}
.al_center {text-align:center;}
.al_justify {text-align:justify;}

.it{font-style:italic;}
.let{letter-spacing:-1px;}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.zi-1{z-index: -1;}
.zi9{z-index: 9;}
.zi99{z-index: 99;}
.zi100{z-index: 100;}

.val_mid{vertical-align: middle;}
.val_base{vertical-align: baseline;}

.white_tr_bg{
  background-color: rgba(255,255,255,.1);
}

.gray_color{
  color: #9a9a9a;
}
.grey_color2{
  color: #8C8F93;
}
.grey_color3{
  color: #858f91;
}
.grey_color4{
  color: #878f98;
}
.grey_color5{
  color: #828282;
}
.grey_color6{
  color: #a8a8a8;
}
.brown_color{
  color: #919191;
}

.grey_05{
  color: rgba(255,255,255, .5);
}

.

.bg_none{
  background-image: none;
}
.bd_no{border: none !important;}
.op5{opacity: .5;}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}
.p_t_zero{ padding-top:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after,
.row:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}



/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/

.blue_color{
  color: #08a5e7;
}

.blue_color_3{
  color: #09b2fb;
}
.blue_color_4{color: #07BBFF;}
.yellow_color{
  color: #fdff51;
}
.yellow_color2{
  color: #ecef4d;
}

.yellow_color3{
  color: #dcdf44;
}

.yellow_color4{
  color: #f9ff00;
}

.aqua_color{
  color: #00f4ff;
}

.aqua_color3{
  color: #00eff4;
}
.aqua_color4{
  color: #00f9ff;
}
.blue2_color{color: #0FB2F6;}
.blue3_color{color: #08A5E7;}
.blue4_color{color: #00a7ea;}
.bd_white{border: 1px solid #fff;}
/*======================> Header <======================*/

header{
  padding: 50px 0;
  background: url(../static/images/separator.png) 50% bottom no-repeat;
}
  .logo{
    padding: 6px 0 0 6px;
  }
  
  .header_user_box{
    line-height: 18px;
    display: table;
    width: 100%;
  }

  .header_user_avatar{
    width: 49px;
    height: 49px;
    padding: 1px;
    display: inline-block;
    /*margin: 0 11px 0 0;*/
    vertical-align: middle;
    /*background: url(../static/images/avatar_frame.png) 0 0 no-repeat;*/
    border: 1px solid #01f4fb;
    border-top: 2px solid #01f4fb;
  }
    .header_user_avatar img{
      width: 100%;
      height: 100%;
    }


    [class^="header_user_data_item"]{
      display: table-cell;
      vertical-align: middle;
      /*padding: 0 17px;*/
    }

    [class^="header_user_data_item"] img{
      vertical-align: middle;
    }

    .header_user_data_item1{
      width: 200px;
      position: relative;
    }
    .header_user_data_item2{
      width: 100px;
    }
    .header_user_data_item3{

    }
    .header_user_data_item1 .menu_link{
      line-height: 14px;
      padding-right: 10px;
    }

  .header_user_links{
    position: relative;
    padding-left: 12px;
  }

  ul.header_user_links:before{
    left: 0;
  }

  .header_user_links a{
    line-height: 24px;
    font-size: 14px;
    text-transform: lowercase;
    color: #08a5e7;
  }

  .header_exit_btn{
    width: 50px;
    height: 50px;
    display: inline-block;
    background: url(../static/images/exit_icon2.png) 48% 50% no-repeat;
  }



/* ========== primary nav =======*/
.primary_nav{
  position: relative;
}
.menu_item{
  min-width: 150px;
  float: left;
  font-size: 14px;
  line-height: 14px;
  display: block;
  position: relative;
  z-index: 10;
}

  .menu_link{
    display: block;
    color: #08a5e7;
    text-transform: capitalize;
    font-family: 'benderregular';
    padding: 5px 22px 5px 13px;
  }
    .menu_link:hover,
    .menu_link.current{
      background: url(../static/images/bg_menu_hover.png) 50% 0 no-repeat;
      color: #01f4fb;
      -webkit-background-size: 100% auto;
      background-size: 100% auto;
    }

    /*#magic-line{
      background: url(../static/images/menu_hover.png) 50% 0 repeat-x;
      position: absolute;
      z-index: 1;
    }*/
    .menu_item:after,
    .header_user_links:before{
      display: block;
      position: absolute;
      right: 0px;
      margin-top: -5px;
      top: 50%;
      width: 1px; 
      height: 10px;
      background-color: #3af7fc;
      box-shadow: 0 0 8.4px 0.6px rgba(58, 247, 252, 0.39);
      content: "";
    }/*
    .menu_link_label{
      color: #08a5e7;
      display: block;
      text-transform: lowercase;
    }*/

    .header_user_links_message,
    .header_user_links_code{
      position: relative;
      padding-right: 27px;
    }
    
    .header_user_links a.header_user_links_code{
      color: #5beff3;
    }
      .header_user_links_message:before{
        content: "";
        position: absolute;
        background: url(../static/images/message_icon.png) 0 0 no-repeat;
        width: 18px;
        height: 12px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0;
      }
      [data-code="0"]:before{
        background: url(../static/images/no_cod_img.png) 0 0 no-repeat;
        width: 18px;
        height: 14px;
      }
      .header_user_links_code i{
        background:  url(../static/images/code_img2.png) 0 0 no-repeat;
        width: 18px;
        height: 14px; 
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0;
      }

      .header_user_links_code i:first-child{
        z-index: 99;
        background: url(../static/images/code_icon.png) 0 0 no-repeat;
      }

      .header_user_links_code i:nth-child(n+11){
        display: none;
      }

      .header_user_links_code i:nth-child(2){
        right: -22px;
      }

      .header_user_links_code i:nth-child(3){
        right: -44px;
      }

      .header_user_links_code i:nth-child(6){
        right: -66px;
        z-index: 6;
      }

      [data-qty-code="4"] i:nth-child(2){
        right: -20px;
      }

      [data-qty-code="4"] i:nth-child(3){
        right: -42px
      }

      [data-qty-code="4"] i:nth-child(4){
        right: -62px;
      }

      [data-qty-code="5"] i:nth-child(2){
        right: -12px;
        z-index: 10;
      }

      [data-qty-code="5"] i:nth-child(3){
        right: -26px;
        z-index: 9;
      }

      [data-qty-code="5"] i:nth-child(4){
        right: -40px;
        z-index: 8;
      }

      [data-qty-code="5"] i:nth-child(5){
        right: -54px;
        z-index: 7;
      }

      [data-qty-code="6"] i:nth-child(2),
      [data-qty-code="7"] i:nth-child(2){
        right: -8px;
        z-index: 10;
      }
      [data-qty-code="6"] i:nth-child(3),
      [data-qty-code="7"] i:nth-child(3){
        right: -16px;
        z-index: 9;
      }
      [data-qty-code="6"] i:nth-child(4),
      [data-qty-code="7"] i:nth-child(4){
        right: -24px;
        z-index: 8;
      }
      [data-qty-code="6"] i:nth-child(5),
      [data-qty-code="7"] i:nth-child(5){
        right: -32px;
        z-index: 7;
      }
      [data-qty-code="6"] i:nth-child(6),
      [data-qty-code="7"] i:nth-child(6){
        right: -40px;
        z-index: 6;
      }

      [data-qty-code="7"] i:nth-child(7){
        right: -48px;
        z-index: 5;
      }

      [data-qty-code="8"] i:nth-child(2),
      [data-qty-code="9"] i:nth-child(2){
        right: -6px;
        z-index: 10;
      }
      [data-qty-code="8"] i:nth-child(3),
      [data-qty-code="9"] i:nth-child(3){
        right: -12px;
        z-index: 9;
      }
      [data-qty-code="8"] i:nth-child(4),
      [data-qty-code="9"] i:nth-child(4){
        right: -18px;
        z-index: 8;
        opacity: .9;
      }
      [data-qty-code="8"] i:nth-child(5),
      [data-qty-code="9"] i:nth-child(5){
        right: -24px;
        z-index: 7;
        opacity: .8
      }
      [data-qty-code="8"] i:nth-child(6),
      [data-qty-code="9"] i:nth-child(6){
        right: -30px;
        z-index: 6;
        opacity: .7
      }
      [data-qty-code="8"] i:nth-child(7),
      [data-qty-code="9"] i:nth-child(7){
        right: -36px;
        z-index: 5;
        opacity: .6
      }

      [data-qty-code="8"] i:nth-child(8),
      [data-qty-code="9"] i:nth-child(8){
        right: -42px;
        z-index: 4;
        opacity: .5
      }

      [data-qty-code="9"] i:nth-child(9){
        right: -48px;
        z-index: 3;
        opacity: .4
      }

      [data-qty-code="10"] i:nth-child(2){
        right: -5px;
        z-index: 10;
      }
      [data-qty-code="10"] i:nth-child(3){
        right: -10px;
        z-index: 9;
        opacity: .9
      }
      [data-qty-code="10"] i:nth-child(4){
        right: -15px;
        z-index: 8;
        opacity: .8;
      }
      [data-qty-code="10"] i:nth-child(5){
        right: -20px;
        z-index: 7;
        opacity: .7;
      }
      [data-qty-code="10"] i:nth-child(6){
        right: -25px;
        z-index: 6;
        opacity: .6;
      }
      [data-qty-code="10"] i:nth-child(7){
        right: -30px;
        z-index: 5;
        opacity: .5;
      }
      [data-qty-code="10"] i:nth-child(8){
        right: -35px;
        z-index: 4;
        opacity: .4;
      }
      [data-qty-code="10"] i:nth-child(9){
        right: -40px;
        z-index: 3;
        opacity: .3;
      }
      [data-qty-code="10"] i:nth-child(10){
        right: -45px;
        z-index: 3;
        opacity: .3;
      }

      .header_user_links .tooltip{
        width: 290px;
        padding: 10px 17px 10px 88px; 
      }

      .header_user_links .tooltip.bottom::after{
        left: 60%;
      }

      .header_user_links .tooltip .number_codes{
        font-size: 16px;
        line-height: 28px;
        position: absolute;
        left: 0;
        top: 17px;
        bottom: 0;
        display: block;
        width: 88px;
        padding: 0 20px;
        color: #889b9c;
        text-align: right;
      }

      .header_user_links .tooltip .number_codes:before{
        content: attr(data-code);
        color: #5beff3;
        width: 10px;
        font-size: 16px;
        background: none;
        position: absolute;
        left: 20px;
      }

      .header_user_links .tooltip .number_codes:after{
        content: "";
        display: block;
        background: #889b9c;
        width: 1px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
      }

      .header_user_links .tooltip.bottom {
        -webkit-transform: translate(-67.8%, 10px);
        -moz-transform: translate(-67.8%, 10px);
        -o-transform: translate(-67.8%, 10px);
        -ms-transform: translate(-67.8%, 10px);
        transform: translate(-67.8%, 10px);
      }


/*=====================> Content ========================*/
#content {padding:0px 0px 50px; min-height: 1500px;}
.cont_pad{padding:0 0 0 0 !important;}


.title_with_btn .btn{
  margin-top: 5px;
}
.title_with_btn .btn.mt7{
  margin-top: 7px;
}

/*=====================> dashboard ========================*/
.dashboard_box{
  padding: 17px 0 18px 0;
  height: 151px;
  background: url(../static/images/dashboard_bg_2.png) 0 0 no-repeat;
}

  .sm_profile_box{
    padding-left: 21px;
  }
    .sm_profile_box figcaption{
      padding: 0 20px;
      line-height: 16px;
    }
  
  .sm_profile_image{
    margin-top: 2px;
    border: 1px solid #fff;
  }


  .profile_selected_study,
  .profile_corps_base{
    border-left: 1px solid #fff;
    padding-left: 20px;
  }

  .profile_corps_base{
    padding-right: 20px;
    line-height: 16px;
  }

    .profile_corps_base_text{
      width: 250px;
    }

.separator{
  background: url(../static/images/separator.png) 50% 0 no-repeat;
  border: none;
  height: 1px;
}


.dashboard_page{
  background: url(../static/images/dashboard_page_bg.png) 50% 0 no-repeat #13171a;
}

.teather_box{
  margin: 0 -7.5px -13px;
}
.teather_box.news_copus{
  
}
.teather_box.news_copus .teather_1_3 figcaption{
  padding-top: 30px;
}
  .teather_1_3{
    width: 390px;
    min-height: 250px;
    float: left;
    margin: 0 7.5px 13px;
    position: relative;
  }
  .specialization_block .teather_1_3{
    height: 300px;
    overflow: hidden;
  }
  .teather_1_3.var4.pos2 figcaption .teather_box_avatar_img{
    height: 51px;
    text-align: center;
  }
  .teather_1_3.var4.pos2 .title4.extra{
    margin-top: -15px;
  }
  .teather_1_3.var4.pos2 .title4.extra + .title5  {
    margin-bottom: 23px;
  }
  .teather_1_3.var4.pos2 figcaption .teather_box_avatar_img img{
    position: absolute;
    top: 1px;
    left: 1px;
    border: 1px solid #fff;
  }
  .teather_1_3.var4.pos2 figcaption .teather_box_avatar_img .btn{
    margin: 0 50px;
  }
  .teather_1_3.var4.pos2:hover path {
      fill-opacity: .3;
  }
  .specialization_block .teather_1_3:hover path {
    fill-opacity: 1;
  }
  .specialization_block .teather_1_3:hover polygon{
    fill: rgba(0, 154, 187, .5);
  }
  .specialization_block .teather_1_3 .stripe_box_fill {
      width: 65%;
  }
  .specialization_block .teather_1_3 .stripe_box_unfill{
    width: 20%;
  }

    .teather_1_3:hover path{
      fill-opacity:.6;
    }

    .teather_1_3[data-fill]:hover path.fill_color{
      fill-opacity:.22;
    }

    .teather_links a{
      display: inline-block;
      margin: 0 7px;
    }

    .teather_1_3 .title4:not(.extra){
      min-height: 70px;
    }

    .teather_1_3 figcaption{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      /*z-index: 10;*/
      text-align: center;
      padding: 33px 20px 20px;
    }


    .feat_icon{
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 0 15px 0 30px;
      position: relative;
      border: 1px solid #fff;
      text-align: center;
    }
    .feat_icon:after{
      content: "";
      visibility: hidden;
      width: 0;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
    .feat_icon img{
      display: inline-block;
      vertical-align: middle;
    }

    .feat_icon:before{
      position: absolute;
      right: 100%;
      top: 12px;
      margin: 0 13px 0 0;
      font-family: 'benderregular';
      font-size: 22px;
      line-height: 1;
      content: attr(data-val);
    }

    [data-feat="power"]{
      background: url(../static/images/feat_icon_power.png) 50% 50% no-repeat;
    }
    [data-feat="umbrella"]{
      background: url(../static/images/feat_icon_umbrella.png) 50% 50% no-repeat;
    }
    [data-feat="bell"]{
      background: url(../static/images/feat_icon_bell.png) 50% 50% no-repeat;
    }
    [data-feat="infinity"]{
      background: url(../static/images/feat_icon_infinity.png) 50% 50% no-repeat;
    }
    [data-feat="atom"]{
      background: url(../static/images/feat_icon_atom.png) 50% 50% no-repeat;
    }
    [data-feat="chip"]{
      background: url(../static/images/feat_icon_chip.png) 50% 50% no-repeat;
    }
    [data-feat="code"]{
      /* background: url(../static/images/feat_icon_code.png) 50% 50% no-repeat; */
    }
    [data-feat="code"] span,
    [data-feat="code2"] span{
      font-size: 22px;
      line-height: 24px;
      color: #08a5e7;
      font-family: 'benderregular';
      display: inline-block;
      background: url(../static/images/feat_icon_code2.png) 14px 12px no-repeat;
      padding: 10.5px 10px 14.5px 71px;
    }
    [data-feat="code2"] span{
      background: url(../static/images/feat_icon_code22.png) 14px 12px no-repeat;
    }

    [data-feat="compass"]{
      background: url(../static/images/feat_icon_compass.png) 50% 50% no-repeat;
    }
    [data-feat="atom2"]{
      background: url(../static/images/feat_icon_atom2.png) 50% 50% no-repeat;
    }
    [data-feat="rank"]{
      background: url(../static/images/feat_icon_rank.png) 50% 50% no-repeat;
    }
    [data-feat="chat"]{
      background: url(../static/images/feat_icon_chat.png) 50% 50% no-repeat;
    }
    [data-feat="atom3"]{
      background: url(../static/images/feat_icon_atom3.png) 50% 50% no-repeat;
    }
    [data-feat="atom4"]{
      background: url(../static/images/feat_icon_atom4.png) 50% 50% no-repeat;
    }
    [data-feat="molecules"]{
      background: url(../static/images/feat_icon_molecules.png) 50% 50% no-repeat;
    }
    [data-feat="waves"]{
      background: url(../static/images/feat_icon_waves.png) 50% 50% no-repeat;
    }
    [data-feat="armor"]{
      background: url(../static/images/feat_icon_armor.png) 50% 50% no-repeat;
    }
    [data-feat="bonus"]{
      background: url(../static/images/feat_icon_bonus.png) 50% 50% no-repeat;
    }


.spaceship_bg{
  position: relative;
  padding: 0px 0;
  background: url(../static/images/spaceship_bg.png) 50% 0 no-repeat;
}

  .spaceship_bg:before,
  .spaceship_bg:after,
  footer:before{
    height: 1px;
    display: block;
    background: url(../static/images/separator.png) 50% 0 no-repeat;
    content: "";
  }

  .spaceship_bg:before{
    margin-bottom: 54px;
  }
  .spaceship_bg:after{
    margin-top: 47px;
  }

.sm_skew_box{
  position: relative;
  width: 390px;
  height: 150px;
}
  .sm_skew_box:hover path{
    fill-opacity: .4;
  }
  .sm_skew_box figcaption{
    padding: 0px 20px;
  }
  .sm_skew_box img{
    max-width: 100%;
    height: auto;
  }
  
/* TABS */

  .dashboard_tab_wrapper{
    position: relative;
    height: 352px;
    padding: 1px;
    background: url(../static/images/dashboard_bg.png) 0 0 no-repeat;
    width: 1201px;
  }

    .dashboard_tab_wrapper img{
      opacity: 1;
    }
    .background_dashbord_img{
      display: none;
    }
    .dashboard_tab_wrapper_container{
      /*background-color: #000;*/
      background-position: 50% 100%;
      background-repeat: no-repeat;
      -webkit-background-size: 100%;
           -o-background-size: 100%;
              background-size: 100%;
      position: relative;
      height: 350px;
    }
    .dashboard_tab_wrapper_container:before,
    .dashboard_tab_wrapper_container:after{
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      -webkit-background-size: 100% !important;
           -o-background-size: 100% !important;
              background-size: 100% !important;
    }
    .dashboard_tab_wrapper_container:before{
      background: url(../static/images/dashboard_stripe_top.png) 0 0 no-repeat;
      top: 0;
      height: 175px;
    }
    .dashboard_tab_wrapper_container:after{
      background: url(../static/images/dashboard_stripe_bottom.png) 0 0 no-repeat;
      bottom: 0;
      height: 174px;
    }
    .dashboard_tab_wrapper_item_left,
    .dashboard_tab_wrapper_item_right{
      position: absolute;
      top: 50px;
      left: 39px;
      height: 100%;
      width: 600px;
    }

    .dashboard_tab_wrapper_item_right{
      right: 50px;
      left: initial;
    }

      .dashboard_tab_wrapper_item_left_link_box a{
        margin-right: 40px;
      }

        .dashboard_tab_wrapper_item_left .title3{
          text-transform: inherit;
        }

      .dashboard_tab_wrapper_item_right_icon{
        width: 51px;
        height: 50px;
        position: relative;
        background: url(../static/images/dashboard_icon_square.png) 0 0 no-repeat;
      }  
      .dashboard_tab_wrapper_item_right_icon span{
        display: block;
        text-align: center;
        height: 100%;
      }
        .dashboard_tab_wrapper_item_right_icon span:after{
          width: 0;
          margin-left: 0;
          content: "";
          height: 100%;
          vertical-align: middle;
          display: inline-block;
          visibility: hidden;
        }

        .dashboard_tab_wrapper_item_right_icon:before{
          content: attr(data-number);
          font-size: 22px;
          line-height: 51px;
          color: #078fc8;
          position: absolute;
          left: -49px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 49px;
          height: 51px;
          vertical-align: middle;
          text-align: center;
        }

        .dashboard_tab_wrapper_item_right_icon:after{
          content: "";
          width: 51px;
          height: 1px;
          display: block;
          position: absolute;
          left: 99.9%;
          top: 48%;
          background: url(../static/images/dashboard_tab_wrapper_item_border.png) 0 0 no-repeat;
        }  

/* TABS END */

/*=====================> Professional page ========================*/
.prof_page{
  background: url(../static/images/prof_page_bg.png) 50% 0 no-repeat #13171a;
}

.person_data{
  margin-right: 50px;
  position: relative;
  z-index: 10;
}
  
  .person_type{
    padding: 11px 34px 12px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #08a2e3;
    background-color: rgba(0, 0, 0, .3);
  }

  .person_description{
    padding: 0 0 0 26px;
  }

  .person_type .title5{
    margin-bottom: -6px;
  }
  .person_type:before,
  .person_type:after{
    position: absolute;
    display: block;
    top: 0;
    width: 1px;
    height: 100px;
    content: "";
  }

  .person_type:before{
    left: 0;
    background: url(../static/images/bd_spec_type_bock.png) 0 0 no-repeat;
  }
  .person_type:after{
    right: -1px;
    background: url(../static/images/bd_spec_type_bock.png) 0 0 no-repeat;
  }



  .person_current_level{
    min-height: 300px;
    padding: 22px 49px 16px 50px;
    background-color: rgba(0,0,0,.1);
  }
  .person_current_level:before,
  .person_current_level:after{
    display: block;
    position: absolute;
    left: -2px;
    width: 852px;
    height: 148px;
    content: "";
  }
  .person_current_level .stripe_box_fill.f_right{
    float: right;
  }


  .person_current_level:before{
    top: 0;
    background: url(../static/images/prof_current_level_top.png) 0 0 no-repeat;
  }
  .person_current_level:after{
    bottom: 0;
    background: url(../static/images/prof_current_level_bot.png) 0 0 no-repeat;
  }


.stripe_box_fill{
  position: relative;
  width: 86.5%;
  float: left;
  height: 2px;
  background: #1492c6;
}
.number_stripe{
  position: absolute;
  top: -12px;
  left: 1px;
  font-size: 22px;
  line-height: 23px;
  font-family: 'benderbold';
}

.stripe_box_unfill{
  float: right;
  height: 2px;
  background-color: #889093;
  /*width: 10%;*/
}
  .stripe_box_fill:before{
    width: 112px;
    height: 10px;
    position: absolute;
    display: block;
    left: 50%;
    top: 0;
    background: url(../static/images/stripe_glow.png) 0 0 no-repeat;
    margin: -5px 0 0 -26px;
    content: "";
  }

  .stripe_box_val{
    position: absolute;
    left: 100%;
    font-size: 22px;
    color: #fff;
    margin: -10px 0 0 4px;
  }
.person_skill{
  margin-bottom: 24px;
}

  .person_skill_label{
    display: inline-block;
    padding: 4px 0 0 44px;
    position: relative;
    font-size: 16px;
  }

  .person_skill_label:before{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
  }

  .person_skill_fill{
    width: 98px;
    margin-right: 2px;
    display: block;
    float: left;
    height: 2px;
    background-color: #fff;
  }

    [data-active="false"]{
      opacity: .3;
    }

    .person_skill_wrap{
      padding: 15px 0 0;
    }
    

    .person_skill_label[data-skillType="power"]:before{
      background: url(../static/images/skill_power_icon.png) 0 50% no-repeat;
    }
    .person_skill_label[data-skillType="umbrella"]:before{
      background: url(../static/images/skill_umbrella_icon.png) 0 50% no-repeat;
    }
    .person_skill_label[data-skillType="bell"]:before{
      background: url(../static/images/skill_bell_icon.png) 0 50% no-repeat;
    }


    .current_mission{
      position: relative;
      margin: 24px -50px 0 0;
    }
    .current_mission.vers2 .feat_icons{
      margin-top: 8px;
    }
    .current_mission.vers2 .feat_icons .feat_icon:last-child{
      margin-right: -1px;
      margin-left: 60px;
    }

      .current_mission figcaption{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 42px 50px;
      }


.main_person_img_box{
  position: absolute;
  left: 0px;
  top: -80px;
  width: 430px;
  height: 726px;
  text-align: center;
  padding: 61px 130px 0 0;
  /* background: url(../static/images/main_person_img_box_bg.png) 50% 50% no-repeat; */
}
.main_person_img{
  padding-top: 70px;
}
.plus_box_bottom{
  background: url(../static/images/plus_box_bottom.png) 0 0 no-repeat;
  width: 566px;
  height: 14px;
  display: block;
  position: absolute;
  bottom: 38px;
  left: -7px;
  z-index: 99;
}



.main_person_img_box:before,
.main_person_img_box:after{
  position: absolute;
  display: block;
  right: 50%;
  margin: 0 -59px 0 0;
  content: "";
}

.main_person_img_box:before{
  width: 100px;
  height: 101px;
  top: 124px;
  background: url(../static/images/main_person_img_box_top.png) 0 0 no-repeat;
}

.main_person_img_box:after{
  width: 73px;
  height: 72px;
  bottom: 162px;
  background: url(../static/images/main_person_img_box_bot.png) 0 0 no-repeat;
}



.main_person_img_box figcaption{
  position: absolute;
  top: 76px;
  /* left: 90px; */
  left: 0;
  line-height: 16px;
  text-align: left;
  width: 150px;
}

.main_person_img_box figcaption .title5{
  line-height: 18px;
  margin-bottom: 7px;
}

/*=====================> Profile Page ========================*/

  a.title3{
    display: inline-block;
  }

  .specialization_block .teather_1_3 figcaption .title5{
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    top: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  } 

  .specialization_block .teather_1_3 figcaption{
    padding-top: 59px
  }

  .specialization_block .teather_1_3 figcaption .stripe_box_info{
    margin: 28px  18px 32px -1px;
  }

/*new style*/

  .mission_list_item_link{
    display: inline;
  }

  .notice_box{
    width: 206px;
    padding: 29px 8px 29px 68px;
    position: fixed;
    right: 0;
    font-size: 18px;
    border-top: 1px solid #01cbcb;
    border-bottom: 1px solid #01cbcb;
  }

  .notice_box.message{
    bottom: 437px;  
    background: rgba(13, 69, 102, .4) url(../static/images/notice_box_message_bg.png) 100% 50% no-repeat;
        
  }

  .notice_box.codes{
    bottom: 317px;  
    background: rgba(13, 69, 102, .4) url(../static/images/notice_box_codes_bg.png) 100% 50% no-repeat;  
  }

    .notice_box:before{
      content: "";
      position: absolute;
      top: -1px;
      left: -34px;
      background: rgba(13, 69, 102, .4) url(../static/images/notice_border.png) 0 0 no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      border-radius: 12px 0 0 0;
      width: 34px;
      height: 100px;
    }

    .notice_box.message:after{
      content: "";
      position: absolute;
      width: 46px;
      height: 35px;
      background: url(../static/images/notice_box_message_icon.png) 0 0 no-repeat;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .notice_box.codes:after{
      content: "";
      position: absolute;
      width: 42px;
      height: 51px;
      background: url(../static/images/notice_box_codes_icon.png) 0 0 no-repeat;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

  .mission_list_left.var2,
  .mission_list_right.var2{
    margin-top: 50px;
  }  

/*assessment_mission popup*/

  .assessment_mission.team_popup .title3{
    margin-bottom: 10px;
    font-size: 42px;
  }

  .assessment_mission .owl-carousel{
    padding: 0 20px; 
  }

  .assessment_mission .gerb_box{
    margin: 0 110px 40px;
    background: url(../static/images/step_carousel_bg.png) 0 0 no-repeat; 
  }

  .step_item{
    width: 100%;
  }

  .step_item a{
    font-family: 'benderregular';
    color: #169fa1;
    position: relative;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    line-height: 50px;
    text-transform: uppercase;
  }

  .step_item a:hover,
  .step_item.active a{
    color: #fff;
    font-size: 22px;
    font-family: "benderbold";
  }

  .step_item a:hover::after,
  .step_item.active a::after{
    content: "";
    width: 152px;
    height: 39px;
    background: url(../static/images/step_carousel_active_bg.png) 0 0 no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .results_box_item{
    background: rgba(0, 0, 0, .7);
    color: #fff;
    letter-spacing: 1.5px;
    padding: 8px 18px 20px;
    width: 385px;
    display: inline-block;
    text-align: left;
    font-size: 16px;
  }

    .double_plus{
      position: relative;
    }

    .double_plus:before,
    .double_plus:after{
      content: "";
      position: absolute;
    }

    .double_plus:before{
      bottom: -9px;
      right: -7px;
      background: url(../static/images/list_mark.png) 0 0 no-repeat;
      width: 14px;
      height: 14px;
    }

    .double_plus:after{
      top: -6px;
      left: -7px;
      background: url(../static/images/list_mark.png) 0 0 no-repeat;
      width: 14px;
      height: 14px;
    }

/*Menu style*/

.sticky{
  z-index: 99999;
}

.is-sticky .search_list {
  background: url(../static/images/search_menu_stick_bg2.png) 0 0 no-repeat;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-background-size: 100% 50px;
  background-size: 100% 50px;
  overflow: hidden;
}

.is-sticky .search_list .search_list:hover,
.is-sticky.wind_up .search_list:hover{
  background: url(../static/images/search_menu_hover_bg.png) 0 0 no-repeat;
  -webkit-background-size: 100% 50px;
  background-size: 100% 50px;
} 

.is-sticky.wind_up .search_list{
  background: url(../static/images/search_list_bg.png) 0 0 no-repeat;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-background-size: 100% 50px;
  background-size: 100% 50px;
}

.search_menu_container{
  margin-top: -50px;
  margin-bottom: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

  .search_list{
    background: url(../static/images/search_list_bg.png) 0 0 no-repeat;
    height: 50px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .search_list:hover,
  .search_list.active{
    background: url(../static/images/search_menu_hover_bg.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }

  .search_list_item{
    float: left;
    position: relative;
    width: 135px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    text-align: left;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    font-size: 16px;
    font-family: 'benderregular';
    color: #838383;
    padding-left: 30px;
  }

  .search_list_item:hover,
  .search_list_item.active{
    color: #3af7fc;
    width: 333px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .search_list_item:last-child:hover{
    width: 288px;
  }

  .search_list_item.notifications{
    width: 100px;
    padding-left: 38px;
  }

  .search_list_item.complete_mission{
    padding-left: 38px;
  }

  .search_list_item.notifications:hover{
    width: 288px;
  }

  .search_list_item.complete_mission:hover{
    width: 422px;
  }

  .search_list_item:first-child{
    padding-left: 0;
  }

  .search_list_item:hover .search_agents,
  .search_list_item.active .search_agents{
    display: inline-block;
  }

  .search_list_item:hover .search_title,
  .search_list_item.active .search_title{
    display: inline-block;
    opacity: 1;
    visibility: visible;
  }

  .search_list_item::after{
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    background: #899c9d;
    position: absolute;
    left: -1px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .search_list_item:first-child::after{
    display: none;
  }

  .search_list_item:first-child::before{
    content: "";
    background: url(../static/images/menu_search_icon.png) 0 0 no-repeat;
    width: 27px;
    height: 27px;    
    position: absolute;
    right: 25px;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .search_list_item:first-child:hover::before,
  .search_list_item.active::before{
    background: url(../static/images/menu_search_icon_hover.png) 0 0 no-repeat;
  }

  .notifications{
    padding-right: 20px;
    position: relative;
    display: inline-block;
    color: #838383;
  }

  .search_list_item:hover .notifications,
  .search_list_item.complete_mission:hover .complete_mission{
    color: #3af7fc;
  }

  .search_list_item .notifications::before{
    content: "";
    background: url(../static/images/menu_search_icon2.png) 0 0 no-repeat;
    width: 14px;
    height: 22px;    
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .search_list_item.notifications:hover .notifications::before{
    background: url(../static/images/menu_search_icon2_hover.png) 0 0 no-repeat;
  }

  .complete_mission{
    padding-right: 29px;
    position: relative;
    display: inline-block;
    color: #838383;
  }

  .search_list_item .complete_mission::before{
    content: "";
    background: url(../static/images/complete_mission_icon.png) 0 0 no-repeat;
    width: 23px;
    height: 24px;    
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .search_list_item.complete_mission:hover .complete_mission::before,
  .search_list_item.active:hover .complete_mission::before{
    background: url(../static/images/complete_mission_icon_hover.png) 0 0 no-repeat;
  }

  .search_list_item:last-child:hover .notifications::before,
  .search_list_item.active:hover .notifications::before{
    background: url(../static/images/menu_search_icon2_hover.png) 0 0 no-repeat;
  }

  .search_title{
    font-size: 16px;
    line-height: 1.2;
    color: #3af7fc;
    display: none;
    opacity: 0;
    visibility: hidden;
    padding: 14px 10px 0 14px;
  }

  .search_agents{
    padding-left: 34px; 
    display: none;
    width: 250px;
  }

  .search_agents input{
    border: none;
    outline: 0;
    background: transparent;
    box-shadow: none;
    -webkit-appearance: textfield;
    font-family: 'benderregular';
    color: #80adae;
    font-size: 16px;
    width: 100% !important;
    padding: 0 0 0 20px;
  }

  /*placeholder*/
  .search_agents input::-webkit-input-placeholder{
      line-height: 1.2;   
      font-family: 'benderregular';
      color: #80adae;
      font-size: 16px;
      opacity: 1;
      transition:opacity ease 0.8s;
  }
  .search_agents input::-moz-placeholder{
      line-height: 1.2;   
      font-family: 'benderregular';
      color: #80adae;
      font-size: 16px;
      opacity: 1;
      transition:opacity ease 0.8s;
  }
  .search_agents input:-moz-placeholder{
      line-height: 1.2;   
      font-family: 'benderregular';
      color: #80adae;
      font-size: 16px;
      opacity: 1;
      transition:opacity ease 0.8s;
  }
  .search_agents input:-ms-input-placeholder{
      line-height: 1.2;   
      font-family: 'benderregular';
      color: #80adae;
      font-size: 16px;
      opacity: 1;
      transition:opacity ease 0.8s;
  }

  .search_agents input:focus::-webkit-input-placeholder {
      opacity: 0;
      transition:opacity ease 0.5s;
  }
  .search_agents input:focus::-moz-placeholder{
      opacity: 0;
      transition:opacity ease 0.5s;
  }
  .search_agents input:focus:-moz-placeholder{
      opacity: 0;
      transition:opacity ease 0.5s;
  }
  .search_agents input:focus:-ms-input-placeholder{
      opacity: 0;
      transition:opacity ease 0.5s;
  }
  /*===  input end    ===*/

  .select2-container {
    box-sizing: border-box;
    display: block;
    margin: 0;
    position: relative;
    vertical-align: middle;
  }

  .select2-results__options::-webkit-scrollbar {
    width: 5px;
  }
  .select2-results__options::-webkit-scrollbar-button{
    display: none;
  }
  .select2-results__options::-webkit-scrollbar-track{
    width: 5px;
  }
  .select2-results__options::-webkit-scrollbar-track-piece{
    background: none;
    width: 3px;
  }
  .select2-results__options::-webkit-scrollbar-thumb{
    width: 3px;
    background: #165a60;
  }
  .select2-results__options::-webkit-scrollbar-corner{
    display: none;
  }
  .select2-results__options::-webkit-resizer{
    display: none;
  }

  .search_list_item .select-img-avatar{
    margin-top: 9px;
  }

  .select-img-avatar{
    margin-right: 13px;
    width: 30px;
    height: 30px;
  }

  .select2-results__options{
    width: 400px !important;
    max-height: 188px;
    display: inline-block;
    position: relative;
    background: rgba(0, 0, 0, .85);
    border: 1px solid #165a60;
    z-index: 99999;
    padding: 14px 20px 14px 20px;
    overflow-y: scroll;
  }

  .select2-results__option{
    line-height: 30px;
    cursor: pointer;
  }

  .select2-results__option:not(:first-child){
    margin-top: 13px;
  }

  .select2-results{
    height: 0;
    margin: 0;
    padding: 0; 
  }

  .select2-selection__choice__remove{
    display: none;
  }

  .select2-selection__rendered{
    position: relative;
    height: 50px;
  }

  .select2-selection__rendered li{
    position: absolute; 
    left: 0;
    top: 0;
  }

/* my mission */

.my_mission_page .teather_box .teather_1_3 figcaption{
  /*padding-top: 21px;*/
}

.progress_mission_wrapper{
  min-height: 199px;
  width: 100%;
  background: url(../static/images/progress_mission_wrapper_bg.png) 0 0 no-repeat;
  background-size: 100% 100%;
  padding: 35px 43px 30px 50px;
  position: relative;
}

  .progress_mission_wrapper::before{
    z-index: -1;
    content: "";
    background: url(../static/images/logo_my_mission_box.png) 0 0 no-repeat;
    width: 194px;
    height: 187px;
    position: absolute;
    top: 1px;
    left: 0;
  }

  .progress_mission_info{
    width: 300px;
    padding-right: 50px;
    position: relative;
  }

    .progress_mission_info::after{
      content: "";
      background: #fff;
      height: 99px;
      width: 1px;
      position: absolute;
      right: -1px;
      top: 16px;
    }

      .progress_mission_info h2{
        line-height: 26px;
        letter-spacing: 1px;
      }

    .progress_mission_wrap_list{
      width: 805px;
      padding-left: 48px;
      padding-bottom: 19px;
      overflow: visible !important;
      float: left;
    }  

      .progress_mission_list{
        margin-top: -15px;
      }

      .progress_mission_list li{
        float: left;
        margin-top: 15px;
        width: 19.6%;
        position: relative;
        padding-bottom: 45px;
      }

      /*.progress_mission_list li:nth-child(2){
        width: 154px;
      }

      .progress_mission_list li:nth-child(3){
        width: 154px;
      }
      .progress_mission_list li:nth-child(4){
        width: 146px;
      }*/

      .progress_mission_list li:last-child{
        width: 9px;
      }

      .progress_mission_wrap_list .disable{
        color: #6b8ca5;
        position: relative;
      }

      .progress_mission_wrap_list .number{
        display: inline-block;
        padding-bottom: 19px;
        position: relative;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
      }

      .progress_mission_wrap_list .number:hover{
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
      }

      .progress_mission_wrap_list .number::before,
      .progress_mission_wrap_list .number::after{
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
      }

      .progress_mission_wrap_list .number:hover::before,
      .progress_mission_wrap_list .number:hover::after{
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
      }

      .progress_mission_wrap_list .tooltip_mission,
      .progress_mission_wrap_list .tooltip_mission{
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
        opacity: 0;
        visibility: hidden;
      }

      .progress_mission_wrap_list .number:hover + .tooltip_mission{
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
      }

      .progress_mission_wrap_list .disable .number::before{
        content: "";
        background: url(../static/images/miss_list_disable.png) 0 0 no-repeat;
        width: 10px;
        height: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
      }


      .progress_mission_wrap_list .swiper-slide .disable{position: relative;}

      .progress_mission_wrap_list .disable::before{
        content: "";
        display: block;
        background: url(../static/images/miss_list_disable_icon.png) 0 0 no-repeat;
        width: 21px;
        height: 19px;
        position: absolute;
        bottom: 0;
        left: -5px;
        z-index: 2;
      }

      .disable .number::after{
        content: "";
        display: block;
        background: url(../static/images/miss_list_disable_icon.png) 0 0 no-repeat;
        width: 21px;
        height: 19px;
        position: absolute;
        bottom: -45px;
        left: -2px;
        z-index: 2; 
      }

      .progress_mission_wrap_list .disable::after{
        content: "";
        background: #6b8ca5;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 34px;
        left: 0;
        z-index: 1;
        right: 0;
      }

      .progress_mission_wrap_list .current .number::before{
        content: "";
        background: url(../static/images/miss_list_current.png) 0 0 no-repeat;
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: -19px;
        left: -22px;
        z-index: 2;
      }

      .progress_mission_wrap_list .current .number::after{
        content: "";
        background: url(../static/images/complete_mission_icon_hover.png) 0 0 no-repeat;
        width: 23px;
        height: 24px;
        position: absolute;
        bottom: -45px;
        left: -8px;
        z-index: 2;
        opacity: 1;
        visibility: visible;
      }

      .progress_mission_wrap_list .current .number:hover::after{
        opacity: 0;
        visibility: hidden;
      }

      .progress_mission_wrap_list .current .number:hover + .tooltip_mission,
      .progress_mission_wrap_list .disable .number:hover + .tooltip_mission{
        opacity: 1;
        visibility: visible;
      }

      .progress_mission_wrap_list .current.hide .number + .tooltip_mission{
        opacity: 0;
        visibility: hidden;
      }

      .progress_mission_wrap_list .current .number + .tooltip_mission{
        opacity: 1;
        visibility: visible;
      }

      .progress_mission_wrap_list .disable .number:hover::after{
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
      }

      .progress_mission_wrap_list .disable .tooltip_mission{
        bottom: auto;
        top: calc(100% + 15px);
      }

      .progress_mission_wrap_list .current::after{
        content: "";
        background: #ffffff;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 34px;
        left: 0;
        z-index: 1;
        right: 0;
      }

      .progress_mission_wrap_list .close .number::after{
        content: "";
        background: url(../static/images/miss_list_close_icon.png) 0 0 no-repeat;
        width: 21px;
        height: 28px;
        position: absolute;
        bottom: -45px;
        left: -7px;
        z-index: 2;
      }

      .progress_mission_wrap_list .next .number:hover::before{
        content: "";
        background: url(../static/images/miss_list_next_hover.png) 0 0 no-repeat;
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: -15px;
        left: -16px;
        z-index: 2;
      }

      .progress_mission_wrap_list .next .tooltip_mission,
      .progress_mission_wrap_list .close .tooltip_mission,
      .progress_mission_wrap_list .current .tooltip_mission{
        opacity: 0;
        visibility: hidden;
      }

      .progress_mission_wrap_list .next .tooltip_mission::before{
        background: #fff;
      }

      .progress_mission_wrap_list .next .number:hover + .tooltip_mission,
      .progress_mission_wrap_list .current .tooltip_mission{
        opacity: 1;
        visibility: visible;
      }

      .progress_mission_wrap_list .next .number::before{
        content: "";
        background: url(../static/images/miss_list_next.png) 0 0 no-repeat;
        width: 11px;
        height: 10px;
        position: absolute;
        bottom: 0;
        left: -1px;
        z-index: 2;
      }

      .progress_mission_wrap_list .next::after{
        content: "";
        background: #ffffff;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 34px;
        left: 0;
        z-index: 1;
        right: 0;
      }

      .progress_mission_wrap_list .close{
        color: #dcdf44;
      }

      .progress_mission_wrap_list .close .number::before{
        content: "";
        background: url(../static/images/miss_list_close.png) 0 0 no-repeat;
        width: 13px;
        height: 13px;
        position: absolute;
        bottom: -2px;
        left: -3px;
        z-index: 2;
      }

      .progress_mission_wrap_list .close .number:hover::after{
        opacity: 0;
        visibility: hidden;
      }

      .progress_mission_wrap_list .close .number:hover::before{
        background: url(../static/images/miss_list_close_hover.png) 0 0 no-repeat;
        width: 23px;
        height: 23px;
        bottom: -7px;
        left: -8px;
      }

      .progress_mission_wrap_list .close .tooltip_mission::before{
        background: #dcdf44;
      }

      .progress_mission_wrap_list .close .number:hover + .tooltip_mission{
        opacity: 1;
        visibility: visible;
      }

      .progress_mission_wrap_list .close .tooltip_mission{
        background: rgba(69, 70, 9, .6);
        border-color: #dcdf44;
        color: #dcdf44;
      }

      /*.progress_mission_wrap_list .close::before{
        content: "";
        background: url(../static/images/miss_list_close_icon.png) 0 0 no-repeat;
        width: 21px;
        height: 28px;
        position: absolute;
        bottom: 0;
        left: -7px;
        z-index: 2;
      }*/

      .progress_mission_wrap_list .close::after{
        content: "";
        background: #dcdf44;;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 34px;
        left: 0;
        z-index: 1;
        right: 0;
      }

      .tooltip_mission{
        display: inline-block;
        white-space: nowrap;
        background: rgba(15, 78, 80, .6);
        border: 1px solid #5beff3;
        padding: 0 19px;
        line-height: 31px;
        color: #5beff3;
        position: absolute;
        bottom: -5px;
        -webkit-transform: translateX(-51.5%);
        -ms-transform: translateX(-51.5%);
        -o-transform: translateX(-51.5%);
        transform: translateX(-51.5%);
        z-index: 10;
      }

        .tooltip_mission::before{
          content: "";
          display: block;
          height: 12px;
          width: 1px;
          background: #5beff3;
          position: absolute;
          bottom: 100%;
          left: 50%; 
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
        }

    .mission_list_block{
      margin: 0 -14px -13px;
    }

.start_mission{
  margin-top: 20px;
}    

  .start_mission_box.yellow_style{
    background: rgba(72,73,0, .2);
    position: relative;
  }

  .start_mission_box.yellow_style::before{
    content: "";
    background: url(../static/images/small_border_block.png) 0 0 no-repeat;
    transform: rotate(180deg);
    width: 701px;
    height: 73px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .start_mission_box.yellow_style::after{
    content: "";
    background: url(../static/images/small_border_block.png) 0 0 no-repeat;
    width: 701px;
    height: 73px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .start_mission_title{
    margin-right: 5px;
    letter-spacing: 1px;
  }

.track{
  margin: 0 -7.5px;
}

.track_item{
  height: 199px;
  float: left;
  margin: 0 7.5px 13px;
  position: relative;
  width: 390px;
  cursor: pointer;
}  

  .track_item .teather_img_wrap{
    vertical-align: middle;
  }

  .track_item img{
    vertical-align: middle;
    display: inline-block;
  }

.sm_skew_box.aqua:hover polygon{
  fill: rgba(0, 176, 180, .6);
}

.sm_skew_box.aqua path{
  fill-opacity: .5;
}

.track_item span{
  display: block;
}

.track_item path {
  fill-opacity: 1;
}
.track_item:hover polygon{
  fill: rgba(0, 176, 180, .6);
}

.track_item.aqua path{
  fill-opacity: .5;
}

.track_item.aqua polygon{
  fill: rgba(0, 65, 98, .5);
}

.track_item.aqua:hover polygon{
  fill: rgba(0, 176, 180, .6);
}

.track_item.yellow path{
  fill-opacity: .5;
}

.track_item.yellow span{
  color: rgba(255, 228,0, .5);
} 

.track_item.yellow polygon{
  fill: rgba(40,35,9, .5);
  stroke: rgba(191, 162, 0, .5) !important;
}

.track_item.yellow:hover .title4{
  color: #ffe400;
}

.track_item.yellow:hover polygon{
  fill: rgba(65, 54, 4, .6);
}

.track .team_teather_figcaption .title3{
  min-height: 0;
}

.track_item .title4{
  display: inline-block;
}

.track_item .aqua_color{
  color: #27c5ff;
}

.track .team_teather_figcaption{
  padding: 0 45px !important;
  height: auto;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*rating page*/

.rating_wrapper{
  margin-top: -16px;
}

.rating{
  background: rgba(26,24,18, .4);
  padding: 41px 40px 50px 50px;
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

  .rating::before{
    content: "";
    background: url(../static/images/rating_border.png) 0 0 no-repeat;
    width: 1003px;
    height: 103px;
    transform: rotate(180deg);
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .rating::after{
    content: "";
    background: url(../static/images/rating_border.png) 0 0 no-repeat;
    width: 1003px;
    height: 103px;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .rating_left{
    position: relative;
    padding-right: 80px;
  }

  .rating_left::after{
    content: "";
    background: #f9ff00;
    width: 1px;
    height: 200px;
    position: absolute;
    right: 0;
    top: 7px;
    bottom: 0;
  }

  .feat_icons.yellow{
    margin-left: -14px;
  }

  .feat_icons.yellow .feat_icon,
  .feat_icons.blue .feat_icon{
    border-color: #f9ff00;
    margin: 0 30px 0 15px;
  }

  .feat_icons.yellow .feat_icon::before,
  .feat_icons.blue .feat_icon::before{
    right: auto;
    left: 100%;
    margin: 0 0 0 13px;
    color: #f9ff00;
  }

  [data-feat="icon1"]{
    background: url(../static/images/yellow_icon1.png) 50% 50% no-repeat;
  }
  [data-feat="icon2"]{
    background: url(../static/images/yellow_icon2.png) 50% 50% no-repeat;
  }
  [data-feat="icon3"]{
    background: url(../static/images/yellow_icon3.png) 50% 50% no-repeat;
  }
  [data-feat="icon4"]{
    background: url(../static/images/yellow_icon4.png) 11px 50% no-repeat;
  }
  .feat_icons.yellow .icon_main_box_item{
    color: #f9ff00;
    float: none;
    display: inline-block;
    border: 1px solid #f9ff00;
    position: relative;
    padding-left: 43px;
    padding-right: 20px;
    min-width: 50px;
    margin-bottom: 0;
    margin-left: 15px;
  } 

  .rating_right{
    float: left;
    padding-left: 100px;
  }

  .rating_right_item{
    padding-top: 17px;
  }

  .accordion_list{
    width: 700px;
    margin: 0 auto;
    border: 1px solid #156b8e;
  }

  .accordion_list li .accordion_list_title{
    font-size: 22px;
    font-family: 'benderbold';
    padding-left: 50px;
    line-height: 99px;
    background: rgba(10,61,91, .4);
    border-bottom: 1px solid #156b8e;
    position: relative;
    cursor: pointer;
  }

  .accordion_list li .accordion_list_title::before{
    content: "";
    background: url(../static/images/accordion_arrwo.png) 0 0 no-repeat;
    width: 13px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  [data-report]::after{
    content: attr(data-report);
    color: #f9ff00;
    font-family: 'benderregular';
    font-size: 16px;
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .accordion_list li:last-child .accordion_list_title{
    border-bottom: none;
  }

  .accordion_list li.active{
    background: rgba(0,0,0, .5);
  }

  .accordion_list li.active .accordion_list_title{
    border-bottom: none;
    background: url(../static/images/accordion_border.png) 0 100% no-repeat;
  }

  .accordion_list li.active .accordion_list_title::before{
    transform: rotate(180deg);
    margin-top: -2px;
  }

  .accordion_list li.active .accordion_content{
    opacity: 1;
    visibility: visible;
    display: block;
    height: auto;
    padding: 30px 50px 50px;
  }

  .accordion_content{
    display: none;
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

    .accordion_content_materials{
      margin: 0 -7.5px;
    }

      .accordion_content_materials figure img{
        margin-bottom: 7px;
      }

      .accordion_content_materials a{
        display: inline-block;
        float: left;
        width: calc(33.3333% - 15px);
        margin: 0 7.5px;
        font-family: 'benderregular';
      }

  hr.small{
    background: url(../static/images/small_hr.png) 50% 0 no-repeat;
    margin-top: 0;
  }

  .accordion_svg{
    height: 100px;
    position: relative;
    cursor: pointer;
    margin-bottom: 19px;
  }

  .accordion_svg img{
    width: 100%;
  }

  .accordion_svg path{
    fill-opacity: 0; 
  }

  .accordion_svg:hover .accordion_svg_content{
    color: #00eff4;
  }

  .accordion_svg:hover polygon{
    fill: rgba(0,222,255, .3) !important;
    stroke: rgba(0,238,245, .3) !important;
  }

  .accordion_svg polygon{
    fill: rgba(0,66,74, .2) !important;
    stroke: rgba(0,115,117, .2) !important;
  }

  .accordion_svg_content{
    color: rgba(255,255,255, .5);
    text-align: center;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .comments{
    padding-top: 14px;
    padding-bottom: 13px;
    width: 100%;
    font-size: 16px;
    background: #000;
    padding-left: 20px;
    line-height: 1.2;
    height: 51px;
    border: 1px solid #474849;
    color: #828283;
    resize: vertical;
    transition: ease 0.8s;
  }

  /*placeholder*/
  textarea.comments::-webkit-input-placeholder{
      line-height: 1.2;   
      font-family: 'benderregular';
      color: #828283;
      font-size: 16px;
      opacity: 1;
      transition:opacity ease 0.8s;
  }
  textarea.comments::-moz-placeholder{
      line-height: 1.2;   
      font-family: 'benderregular';
      color: #828283;
      font-size: 16px;
      opacity: 1;
      transition:opacity ease 0.8s;
  }
  textarea.comments:-moz-placeholder{
      line-height: 1.2;   
      font-family: 'benderregular';
      color: #828283;
      font-size: 16px;
      opacity: 1;
      transition:opacity ease 0.8s;
  }
  textarea.comments:-ms-input-placeholder{
      line-height: 1.2;   
      font-family: 'benderregular';
      color: #828283;
      font-size: 16px;
      opacity: 1;
      transition:opacity ease 0.8s;
  }

  textarea.comments:focus::-webkit-input-placeholder {
      opacity: 0;
      transition:opacity ease 0.5s;
  }
  textarea.comments:focus::-moz-placeholder{
      opacity: 0;
      transition:opacity ease 0.5s;
  }
  textarea.comments:focus:-moz-placeholder{
      opacity: 0;
      transition:opacity ease 0.5s;
  }
  textarea.comments:focus:-ms-input-placeholder{
      opacity: 0;
      transition:opacity ease 0.5s;
  }

  .accordion_form button{
    border: none;
    cursor: pointer;
  }

  .accordion_form button:focus{
    outline: none;
  }

  .rating_helper_block{
    width: 500px;
    margin: 0 auto;
    position: relative;
    background: rgba(49,42,20, .4);
    border: 1px solid rgba(249,255,0, .4);
    padding: 28px 15px 28px 100px;
    color: #f9ff00; 
    font-family: 'benderregular';
    font-size: 16px;
    letter-spacing: .5px;
  }

    .rating_helper_block p{
      margin-bottom: 0;
    }

    .rating_helper_block::before{
      content: "";
      background: url(../static/images/rating_close_icon.png) 0 0 no-repeat;
      width: 23px;
      height: 34px;
      position: absolute;
      top: 50%;
      left: 38px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

  .accordion_svg.var2{
    height: 153px;
  }

  .accordion_svg.var2 polygon{
    fill: rgba(0,37,78, .3) !important;
    stroke: rgba(18,107,148, .3) !important;
  }

  .accordion_svg.var2 polygon{
    fill: rgba(0,37,78, .3) !important;
    stroke: rgba(18,107,148, .3) !important;
  }

  .accordion_svg.var2:hover polygon{
    fill: rgba(0,0,0, .4) !important;
    stroke: rgba(207,207,207, .4) !important;
  }

  .accordion_svg.var2 h3{
    color: #fff;
  }

  .valuation_block{
    position: absolute;
    top: 21px;
    right: 22px;
    margin: 0 -3px;
  }

  .valuation_block .btn_minus{
    display: inline-block;
    border: 1px solid rgba(249,255,0, .4);
    color: #f9ff00; 
    padding: 0 2px;
    text-align: center;
    line-height: 18px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    margin: 0 3px;
  }

  .valuation_block .btn_plus{
    display: inline-block;
    border: 1px solid rgba(0,239,244, .4);
    color: #00eff4; 
    padding: 0 2px;
    text-align: center;
    line-height: 18px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    margin: 0 3px;
  }

  .valuation_val{
    line-height: 22px;
    display: inline-block;
    margin: 0 3px;
  }

  .valuation_val.positive{
    color: #00eff4;
  }
  .valuation_val.negative{
    color: #edff05;
  }
  .valuation_val.disable{
    color: rgba(255,255,255, .5);
  }

  .commentary_box{
    border: 1px solid #0e3b51;
    padding: 50px;
    margin-top: -20px;
  }

  .commentary_item{
    position: relative;
  }

    .commentary_autor figcaption a{
      line-height: 50px;
      margin-left: 15px;
    }

    .commentary_autor_img{
      float: left;
    }

    .commentary_content{
      position: relative;
    }  

    .comment_link{
      color: #00878a;
    }

    .commentary_content .valuation_block{
      top: 0;
      right: -28px;
    }

    .commentary_content{
      padding-right: 150px;
    }

    .commentary_block .commentary_item:nth-child(2){
      padding-left: 15px;
    }
    .commentary_block .commentary_item:nth-child(2)::before{
      content: "";
      background: #68696a;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      position: absolute;
      top: 23px;
      left: 0;
    }

    .commentary_block .commentary_item:nth-child(3){
      padding-left: 30px;
    }
    .commentary_block .commentary_item:nth-child(3)::before{
      content: "";
      background: #68696a;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      position: absolute;
      top: 23px;
      left: 0;
    }
    .commentary_block .commentary_item:nth-child(3)::after{
      content: "";
      background: #68696a;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      position: absolute;
      top: 23px;
      left: 15px;
    }


.rating_wrapper.mission_complete{
  margin-top: 0;
  padding-top: 5px;
}    

  .rating.blue{
    background: rgba(6,27,54, .6);
    width: 1103px;
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 30px;
  }

    .rating.blue::before,
    .rating.blue::after{
      background: url(../static/images/rating_border_blue.png) 0 0 no-repeat;
      width: 1104px;
    }

    .rating.blue .rating_left{
      width: 353px;
    }

    .rating.blue .rating_left::after{
      background: #00affd;
      height: 100px;
      top: 0;
    }

    .rating.blue .rating_right{
      padding-left: 50px;
    }

    .feat_icons.blue{
      margin-left: -15px;
    }

    .feat_icons.blue .feat_icon{
      border-color: #019fdf;
    }

    .feat_icons.blue .feat_icon::before{
      color: #019fdf;
    }

    .feat_icons.blue .icon_main_box_item{
      color: #019fdf;
      float: none;
      display: inline-block;
      border: 1px solid #019fdf;
      position: relative;
      padding-left: 43px;
      padding-right: 20px;
      min-width: 50px;
      margin-bottom: 0;
      margin-left: 15px;
    } 

    [data-feat="icon5"]{
      background: url(../static/images/blue_icon1.png) 50% 50% no-repeat;
    }
    [data-feat="icon6"]{
      background: url(../static/images/blue_icon2.png) 50% 50% no-repeat;
    }
    [data-feat="icon7"]{
      background: url(../static/images/blue_icon3.png) 50% 50% no-repeat;
    }
    [data-feat="icon8"]{
      background: url(../static/images/blue_icon4.png) 11px 50% no-repeat;
    }


  .accordion_list.style2{
    border: none; 
  }

    .accordion_list.style2 [data-report]::after{
      color: #00a7ea;
      text-transform: capitalize;
    }

    .accordion_list.style2 li .evaluation{
      font-size: 16px;
      font-family: 'benderregular';
      text-transform: lowercase;
      position: absolute;
      top: 50%;
      right: 150px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .accordion_list.style2 li{
      margin-bottom: 19px;
    }

    .accordion_list.style2 li .accordion_list_title{
      background: rgba(0,0,0, .4);
      border: 1px solid rgba(255,255,255, .4);
      text-transform: uppercase;
    }

.bomb_threat_popup[data-var="10"] .popup_bg{
  background: #000 url(../static/images/popup_bg4.png) 0 0 no-repeat;
}

.bomb_threat_popup[data-var="10"]::before{
  background: url(../static/images/popup_stripe_top5.png) 0 0 no-repeat;
}

[data-var="10"] .popup_bg:before{
  display: none;
}

.report_popup_form input{
  border-color: #adadad;
  background: rgba(0,0,0, .6);
}

  .report_popup [data-skin="dark"]{
    background: rgba(255,255,255, .3);
  }

  .report_popup input[type="file"]:hover + [data-skin="dark"]{
    background: rgba(255,255,255, .1);
  }

  .report_popup [data-skin="aqua"]{
    background:  rgba(1,245,251,.3);
  }

  .report_popup [data-skin="aqua"]:hover{
    background: rgba(1,245,251,.1);
  }

  .ht_transarent.mb22 {
    margin-bottom: 22px;
  }

  .form_row.mb43{
    margin-bottom: 43px;
  }

  .popup_img_block_item{
    display: inline-block;
    color: rgba(255,255,255, .5);
  }

  .popup_img_block_item:hover{
    color: #fff;
  }

  .popup_img_block_item:hover .popup_img_block_img > img{
    opacity: .6;
  }

  .popup_img_block_item:hover .close{
    opacity: 1;
    visibility: visible;
  }

  .popup_img_block .popup_img_block_img{
    position: relative;
    display: inline-block;
  }

  .popup_img_block{
    margin: 0 -5px;
  }

    .popup_img_block_item{
      margin: 0 5px;
    }

    .popup_img_block_img .close{
      opacity: 0;
      visibility: hidden;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
    }

    .popup_img_block .popup_img_block_img::before{
      content: "";
      background: url(../static/images/added_icon.png) 0 0 no-repeat;
      width: 17px;
      height: 23px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

  .popup_link_wrapper{
    position: relative;
    background: rgba(45,246,252, .1);
    padding-left: 45px;
    line-height: 50px;
    height: 50px;
    text-align: left; 
  }  

    .popup_link_wrapper .close{
      width: 11px;
      height: 13px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 13px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .popup_link_wrapper::before{
      content: "";
      background: url(../static/images/popup_link_icon.png) 0 0 no-repeat;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 50%;
      left: 17px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .popup_btn_add_link{
      display: inline-block;
      background: none;
      border: none;
      color: #01f4fb;
      position: relative;
      padding-left: 24px;
      cursor: pointer;
    }

      .popup_btn_add_link:focus{
        outline: none;
      }

      .popup_btn_add_link::before{
        content: "";
        background: url(../static/images/popup_link_icon2.png) 0 0 no-repeat;
        width: 14px;
        height: 14px;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }

  .report_popup_form{
    padding-bottom: 75px;
  }    

  [data-body-img="bg_img5"]{
    background: #13171a url(../static/images/bg_img4.png) 50% 130px no-repeat;
    -webkit-background-size: 100% auto;
         -o-background-size: 100% auto;
            background-size: 100% auto;
  }

  [data-body-img="bg_img6"]{
    background: #13171a url(../static/images/bg_6.jpg) 50% 0 no-repeat;
    -webkit-background-size: 100% auto;
         -o-background-size: 100% auto;
            background-size: 100% auto;
  }

/* info popup */

.info_popup{
  padding-top: 50px;
  width: 798px;
  position: relative;
}

  .info_popup_bg_color{
    background: #0b0c0c;
    position: absolute;
    z-index: -2;
    top: 100px;
    bottom: 100px;
    left: 1px;
    right: 1px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .info_popup::before{
    content: "";
    background: url(../static/images/popup_info_bg_top.png) 0 0 no-repeat;
    width: 800px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .info_popup_bg{
    position: relative;
    z-index: 2;
    padding-bottom: 22px;
    min-height: 270px;
  }

  .info_popup_bg::after{
    content: "";
    background: url(../static/images/popup_info_bg_bottom.png) 0 0 no-repeat;
    width: 800px;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
  }

  .sub_title_popup{
    color: #2ca3ff;
  }

  .popup_hr{
    height: 1px;
    width: 550px;
    background: -moz-linear-gradient(left, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.06) 1%, rgba(255,255,255,1) 51%, rgba(255,255,255,0.03) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.04) 0%,rgba(255,255,255,0.06) 1%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.03) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0.04) 0%,rgba(255,255,255,0.06) 1%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.03) 100%);
    border: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0; 
  }

.info_popup_list_wrapper{
  position: relative;
}

  .info_popup_list{
    width: 100%;
    color: #fff;
    font-family: 'benderregular';
    font-size: 16px;
    text-align: left;
    padding-left: 212px;
    padding-right: 212px;
    counter-reset: counter;
    padding-top: 3px;
    position: relative;
  }

    .info_popup_list_bg{
      position: absolute;
      top: 3px;
      left: 1px;
      right: 1px;
      background: url(../static/images/popup_info_bg.png) 0 0 repeat-y;
      border-left: 1px solid #2ca3ff;
      border-right: 1px solid #2ca3ff;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
    }

    .arcticmodal-container .info_popup_list_bg{
      opacity: 1;
      visibility: visible;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
    }

    .info_popup_list_bg::before{
      content: "";
      background: url(../static/images/popup_info_top_border.png) 0 0 no-repeat;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
    }

    .info_popup_list_bg::after{
      content: "";
      background: url(../static/images/popup_info_bottom_border.png) 0 0 no-repeat;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      z-index: 2;
    }

    .info_popup_list li{
      padding-left: 113px;
      padding-right: 50px;
      position: relative;
      font-family: 'benderregular';
      font-size: 16px;
      line-height: 43px;
      border-bottom: 1px solid rgba(255,255,255, .2);
    }

    .info_popup_list .top-user{
      color: #2ca3ff;
    }

    .user{
      position: absolute;
      color: #00fcff;
      top: 50%;
      left: 60px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .user::before{
      content: "";
      background: url(../static/images/user_bg.png) 0 0 no-repeat;
      width: 798px;
      height: 45px;
      position: absolute;
      left: -271px;
      top: -1px;
    }

    .info_popup_list li::before{
      counter-increment: counter;
      content: counter(counter) "";
      font-size: 22px;
      font-family: 'benderbold';
      position: absolute;
      left: 6px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    [data-bal]::after{
      content: attr(data-bal);
      font-size: 16px;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

  .title_list{
    padding-left: 212px;
    margin-bottom: 7px;
  }

    .title_list li{
      float: left;
      font-size: 12px;
      font-family: 'benderregular';
      color: rgba(255,255,255, .5);
      text-align: left; 
    }

    .title_list li:nth-child(1){
      width: 110px;
    }
    .title_list li:nth-child(2){
      width: 242px;
    }


/*=====================> Paragraphs ========================*/

.pb0{
  padding-bottom: 0 !important;
}
p {margin-bottom:18px}
.mb-6{margin-bottom: -6px;}
.mb0{ margin-bottom:0px;}
.mb1{ margin-bottom:1px;}
.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb13{ margin-bottom:13px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb17{ margin-bottom:17px;}
.mb18{ margin-bottom:18px;}
.mb19{ margin-bottom:19px;}
.mb20{ margin-bottom:20px;}
.mb21{ margin-bottom:21px;}
.mb22{ margin-bottom:22px;}
.mb23{ margin-bottom:23px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb39{ margin-bottom:39px;}
.mb40{ margin-bottom:40px;}
.mb41{ margin-bottom:41px;}
.mb42{ margin-bottom:42px;}
.mb43{ margin-bottom:43px;}
.mb44{ margin-bottom:44px;}
.mb45{ margin-bottom:45px;}
.mb46{ margin-bottom:46px;}
.mb47{ margin-bottom:47px;}
.mb48{ margin-bottom:48px;}
.mb49{ margin-bottom:49px;}
.mb50{ margin-bottom:50px;}
.mb51{ margin-bottom:51px;}
.mb52{ margin-bottom:52px;}
.mb53{ margin-bottom:53px;}
.mb54{ margin-bottom:54px;}
.mb55{ margin-bottom:55px;}
.mb56{ margin-bottom:56px;}
.mb60{ margin-bottom:60px;}
.mb58{ margin-bottom:58px;}
.mb62{ margin-bottom:62px;}
.mb64{ margin-bottom:64px;}
.mb66{ margin-bottom: 66px;}
.mb67{ margin-bottom: 67px;}
.mb73{ margin-bottom: 73px;}
.mb75{ margin-bottom: 75px;}
.mb78{ margin-bottom: 78px;}
.mb130{ margin-bottom: 130px;}
.mb250{ margin-bottom: 250px;}

.mt0{margin-top: 0px !important;}
.mt2{margin-top: 2px;}
.mt-12{margin-top: -12px !important;}
.mt7{margin-top: 7px;}
.mt10{margin-top: 10px;} .mt13{margin-top: 13px;}
.mt15{margin-top: 15px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt57{margin-top: 57px;}
.ml6{margin-left: 6px;}
.ml7{margin-left: 7px;}
.ml50{margin-left: 50px;}
.mr31{margin-right: 31px;}
.mr50{margin-right: 50px;}
.mr52{margin-right: 52px;}
.pt8{padding-top: 8px;}
.pt11{padding-top: 11px;}
.pt30{padding-top: 30px;}
.pt40{padding-top: 40px;}
.pt44{padding-top: 44px;}
.pl10{padding-left: 10px;} 
.pr8{padding-right: 8px;}
.pl50{padding-left: 50px;}
/*=====================> Lists ========================*/
.list1{}
.list1 li{
  background:url(../static/images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1 a{}

.list2{}
.list2 li{
  background:url(../static/images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2 a{}

.list3{}
.list3 li{
  background:url(../static/images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3 a{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}

.dev_title{
  font-size: 50px;
  line-height: 1.23;
}

.title1{
  font-size: 46px;
  line-height: 1.23;
  font-family: 'benderbold';
  letter-spacing: 1.5px;
  font-weight: normal;
  text-transform: uppercase;
}
.title2{
  font-size: 18px;
  line-height: 1.23;
  /*font-weight: normal;*/
}
.title3{
  font-size: 32px;
  line-height: 1.23;
  font-family: 'benderbold';
  letter-spacing: 2px;
  /*text-transform: uppercase;*/
  font-weight: normal;
}

.title4{
  font-size: 22px;
  line-height: 1.63;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'benderbold';
}

.title5{
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 1px;
  font-weight: normal;
  font-family: 'benderregular';
}
.title5_roboto{
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: normal;
}
.title6{
  font-size: 24px;
  line-height: 1.2;
  font-weight: normal;
  font-family: 'benderbold';
}
.title7{
  font-size: 42px;
  line-height: 1.2;
  font-weight: normal;
  font-family: 'benderbold';
}
.title8{
  font-size: 40px;
  line-height: 42px;
  font-family: 'benderbold';
}
.fz12{
  font-size: 12px;
}
.fz17 {
  font-size: 17px;
  line-height: 21px;
}
.fz14 {
  font-size: 14px;
}
.fz15 {
  font-size: 15px;
}
.fz16{
  font-size: 16px;
}
.fz18{
  font-size: 18px;
}
.fz22 {
  font-size: 22px;
  line-height: 24px;
}
.lh1_3{
  line-height: 1.3;
}
.lh18{line-height: 18px;}
.lh20{line-height: 20px;}
.lh22{line-height: 22px;}
.lh23{line-height: 23px;}
.lh24{line-height: 24px;}
.lh40{line-height: 40px;}
.let1{letter-spacing: 1px;}
.let1_6{letter-spacing: 1.6px;}
.let0_1{letter-spacing: 0.1px;}
.let0_5{letter-spacing: 0.5px;}
.ttup{text-transform: uppercase;}
.title_popup{
  font-size: 48px;
  line-height: 56px;
  font-family: 'benderbold';
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
}

/*================================>>  FONTS  <<========================================*/

.bend_reg{
  font-family: 'benderregular';
}

.bend_bold{
  font-family: 'benderbold';
}
.roboto{
  font-family: 'Roboto', sans-serif;
}
.roboto_light{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


/*================================>> hovers <<========================================*/
a,
path{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover,
.sm_skew_box:hover path{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}



/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
.txt_field{
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.msg_field{
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}

#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
}
.adress dt{ margin-bottom:14px;}

/*================================>> Footer <<========================================*/
footer {
  /*padding:22px 0 26px;*/
  min-height: 396px;
  background: url(../static/images/footer_bg.png) 50% 0 no-repeat;
}
.social{
  overflow:hidden;
}
.social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:8px;
}
.social a:first-child{margin: 0 0 0 0;}
.social a:hover img{
  margin-top:-32px;
}

/*============================= Easy responsive tabs ============================*/


.resp-tabs-list li {
    
}


h2.resp-accordion {
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-easy-accordion  h2.resp-accordion {
        display: block;
}

.resp-tab-content-active {
    display: block;
}


@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    
    .resp-accordion-closed {
        display:none !important;
    }
    
}


/*============================ Arctic modal =============================*/
.popup_opacity ~ .arcticmodal-overlay{
  background-color: rgba(0 , 0 , 0 , 0.9) !important; 
}
.arcticmodal-overlay{
  background-color: rgba(0 , 0 , 0 , 0.8) !important;
  opacity: 1 !important;
}
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000;z-index: 99999; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% ;}
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 50px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


/* ========================== OWL CAROUSEL =============================*/
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    /* cursor:url(grabbing.png) 8 8, move; */
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*tooltips*/

.mission_list_item .tooltip_container{
  line-height: 24px;
  color: #00f9ff;
}
.mission_list_item .tooltip{
  width: 300px;
}

.tooltip_container{
  position: relative;
  cursor: pointer;
}

  .tooltip_container:hover .tooltip{
    opacity: 1;
    visibility: visible;
  }

  .tooltip{
    font-family: 'benderregular';
    position: absolute;
    z-index: 99;
    width: 350px;  
    text-align: left;
    text-transform: none;
    color: #6fbdbd;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #04e8eb;
    background-color: rgba(3, 23, 23, .9);
    box-shadow: inset 2px 2px 17px rgba(0, 252, 252, .28), inset -2px -2px 17px rgba(0, 252, 252, .28);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: -webkit-transform .4s ease, opacity .4s ease, visibility .4s ease;
    transition: transform .4s ease, opacity .4s ease, visibility .4s ease;
    padding: 20px 20px;
  }

  .tooltip h3{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 13px;
  }

  .tooltip.text_big{
    font-size: 16px;
  }

  .tooltip::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
  }

  .tooltip.bottom::after {
    bottom: 100%;
    left: 50%;
    background: url(../static/images/tooltip_arrow.png) 0 0 no-repeat;
    margin-left: -7px;
    width: 14px;
    height: 8px;
  }

  .tooltip.bottom{ 
    top: 100%;
    margin-top: 0;
    left: 50%;
  }

  .tooltip.bottom{
    -webkit-transform: translate(-50%, 10px);
       -moz-transform: translate(-50%, 10px);
         -o-transform: translate(-50%, 10px);
        -ms-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
  }


  /*-------------  UPDATE from 20.06.17  ------------*/
    .investigation_box_item.projee .investigation_box_it_right{
      padding-left: 15px;
      background-color: rgba(0, 0, 0, 1);
    }

    .file_add_it2:before{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 5;
      background-color: rgba(0, 0, 0, .7);
    }
    .file_add_it2:hover:before{
      background-color: rgba(0, 0, 0, 0);
    }

    .event_ribbon_agents .teather_img_wrap{
      background: rgba(0, 0, 0, .7);
    }


    .profile_desc_img polygon{
      fill-opacity: .85;
    }