/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1880px) {
 body{min-width:768px;}
.popup__helper{bottom: -225px;}

}


@media only screen and (max-width: 995px) {
 body{min-width:768px;}

}

@media only screen and (max-width: 767px) {
 body{min-width:420px;}
}

@media only screen and (max-width: 479px) {
 body{min-width:300px;}
}