.fz15{font-size: 15px;}
.fz16{font-size: 16px;}
.fz20{font-size: 20px;}
.fz22{font-size: 22px;}
.fz42{font-size: 42px;}

.lh24{line-height: 24px;}

.title6{
	font-size: 18px;
	line-height: 1.63;
	font-weight: normal;
	font-family: 'benderregular';
}


[data-whiteshadow="bg_aqua"]{
	background: rgba(1, 245, 251, 0.05);
}

[data-plus-absolute3="left_top"],
[data-plus-absolute2="right_top"],
[data-plus-absolute="left_bottom"]{
	position: relative;
}
[data-plus-absolute3="left_top"]:before,
[data-plus-absolute2="right_top"]:before,
[data-plus-absolute="left_bottom"]:after{
	content: "";
	position: absolute;
}
[data-plus-absolute2="right_top"]:before{
	top: -9px;
	right: -7px;
	background: url(../static/images/list_mark.png) 0 0 no-repeat;
	width: 14px;
	height: 14px;
}
[data-plus-absolute3="left_top"]:before{
	top: -6px;
	left: -7px;
	background: url(../static/images/list_mark.png) 0 0 no-repeat;
	width: 14px;
	height: 14px;
}
[data-plus-absolute="left_bottom"]:after{
	left: -7px;
	bottom: -9px;
	background: url(../static/images/list_mark.png) 0 0 no-repeat;
	width: 14px;
	height: 14px;
}

[data-body-img="all_mis_img"]{
	background: #13171a url(../static/images/bg_all_mission.png) 50% 0 no-repeat;
	-webkit-background-size: 100% auto;
	     -o-background-size: 100% auto;
	        background-size: 100% auto;
}




[data-imgIcon="icon4"]{
	background: url(../static/images/icon4.png) 0 0 no-repeat;
}
[data-imgIcon="icon5"]{
	background: url(../static/images/icon5.png) 0 0 no-repeat;
}
[data-imgIcon="icon6"]{
	background: url(../static/images/icon6.png) 0 0 no-repeat;
}

/*=========== mession_new ==============*/

	.mission_list_item{
		padding: 14px 19px;
		margin-bottom: 28px;
		font-size: 16px;
		position: relative;
	}

		.mission_new_strip,
		.mission_new_strip2{
			border: none;
			width: 100%;
			height: 10px;
			margin: 10px 0;
			display: block;
			background: url(../static/images/mission_new_strip_img.png) 0 0 no-repeat;
		}
		.mission_new_strip2{
			background: url(../static/images/mission_new_strip_img2.png) 0 0 no-repeat;	
		}

		.mission_list_item_link{
			line-height: 24px;
			letter-spacing: 1.4px;
			display: inline-block;
		}

			.mission_list_item_link.fz42{
				line-height: 46px;
			}

		.mission_list_item:last-child{
			margin-bottom: 0;
		}

	.mid_mission_box{
		margin-top: 60px;
	}

		.mid_mission_box .title6{
			margin-bottom: 12px;
		}

		.start_mission_box{
			position: relative;
			min-height: 150px;
			padding: 29px 0 22px 0;
		}	

			.start_mission_box_item{
				width: 100%;
				text-align: center;	
				min-height: 150px;
				position: relative;
				z-index: 9999;
			}

				.start_mission_box_btn_width{
					min-width: 225px;
					text-align: center;
				}

				.start_mission_box_item .d_tc{
					vertical-align: middle;
				}

			.start_mission_box:before{
				content: "";
				position: absolute;
				height: 85px;
				width: 100%;
				left: 0;
				top: 0;
				background: url(../static/images/border_top_mission_box.png) 0 0 no-repeat;
			}
			.start_mission_box:after{
				content: "";
				position: absolute;
				height: 85px;
				width: 100%;
				left: 0;
				bottom: 0;
				background: url(../static/images/border_bottom_mission_box.png) 0 0 no-repeat;
			}
			.start_mission_box.vers2{
				background: url(../static/images/patern_bs.png) 0 0 repeat;
			}
			.start_mission_box.vers2:before{
				background: url(../static/images/border_top_mission_box2.png) 0 0 no-repeat;
				-webkit-background-size: contain;
				     -o-background-size: contain;
				        background-size: contain;
			}
			.start_mission_box.vers2:after{
				background: url(../static/images/border_bottom_mission_box2.png) 0 0 no-repeat;
			}
		
			.start_mission_box_title{
				font-size: 48px;
				line-height: 1.23;
				font-family: 'benderbold';
				font-weight: normal;
				text-transform: uppercase;
				margin-bottom: 12px;
			}

	.mission_list_right{
		margin-left: 50px;
		padding-right: 0;
	}

		.curator_avatar{
			display: inline-block;
			margin-top: 15px;
			width: 52px;
			height: 52px;
			border: 1px solid #fafafb;
		}

			.curator_avatar:hover{
				border-color: #00f4ff;
			}

			.curator_avatar img{
				width: 100%;
				height: 100%;	
			}
	
	.useful_materials_tabs,
	.useful_materials_tabs_item{
		background: rgba(1, 245, 251, 0.3);
		text-align: center;
		position: relative;
		z-index: 9999;
	}

		.useful_materials_tabs div:hover{
			cursor: pointer;
		}
		.useful_materials_tabs img{
			opacity: 0.5;
		}
		.useful_materials_tabs_item{
			width: 389px;			
		}

		.useful_materials_tabs_item .sm_skew_box{
			margin-bottom: 0;
		} 

		.useful_materials_item_text{
			position: absolute;
			top: 50%;
			width: 100%;
			text-align: center;
			transform: translateY(-50%);
		}

	.tabs_list{
		margin: 0 -14px;
	}	

		.tabs_list li{
			float: left;
			margin: 0 8px;
			position: relative;
			cursor: pointer;
		}		

		.tabs_list li.resp-tab-active[aria-controls="tab_item-0"]:before,
		.tabs_list li.resp-tab-active[aria-controls="tab_item-1"]:before,
		.tabs_list li.resp-tab-active[aria-controls="tab_item-2"]:before{
			content: "";
			position: absolute;
			width: 75px;
			height: 1px;
			display: block;
			top: -25px;
			left: 78px;
			background: #ddddde;
			transform: rotate(41deg);
			z-index: 1;
		}	

		.tabs_list li.resp-tab-active[aria-controls="tab_item-1"]:before{
			width: 1px;
			height: 50px;
			top: -50px;
			left: 50%;
			transform: none;
		}	

		.tabs_list li.resp-tab-active[aria-controls="tab_item-2"]:before{
			left: initial;
			right: 78px;
			background: #ddddde;
			transform: rotate(-41deg);
		}	


/*popups box*/

	.mission_list_left_popup .mission_list_item{
		width: 33.3%;
		float: left;
		padding: 0 
	}

		.mission_list_left_popup .mission_list_item:nth-child(2) .pupop_list_wrapp{
			padding-left: 18px;
		}
		.mission_list_left_popup .mission_list_item:nth-child(3) .pupop_list_wrapp{
			padding-left: 55px;
		}

		.description_container_popup_item{
			padding: 32px 29px;
		}

	.way_development_popup_container .teather_1_3{
		margin: 0 auto;
		float: none;
	}	

	.technocomplex_popup_needs_block_item_left{
		width: 43%;
	}
		.technocomplex_popup_needs_block_item_left div{
			letter-spacing: 1px;
			line-height: 24px;
		}

	.technocomplex_popup_needs_block_item_right{
		width: 50%;
	}
		.technocomplex_popup_needs_block_item_right .title4{
			color: #03ac9e;
			margin-top: 35px;
		}
		.technocomplex_popup_needs_block_item_right_wrapp_media{
			position: relative;
		}
		.technocomplex_popup_needs_block_item_right_wrapp_media:hover{
			cursor: pointer;
		}


	.way_development_popup_container .base_parametr_stripebox .stripe_box{
		width: 354px;
		display: inline-block;
		position: relative;
	}

		.way_development_popup_container .base_parametr_title{
			letter-spacing: 1px;
		}

		.base_parametr_strip_item {
			position: relative;
			height: 2px;
			float: left;
		}
		.base_parametr_strip_item:before{
		    width: 112px;
		    height: 10px;
		    position: absolute;
		    display: block;
		    left: 50%;
		    top: 0;
		    background: url(../static/images/stripe_glow.png) 0 0 no-repeat;
		    margin: -5px 0 0 -26px;
		    content: "";
		}
		.base_parametr_strip_item .stripe_box_val{
			left: -3px;
			top: 19px;
			font-size: 18px;
		}
			[data-stripe-clr="yellow"]:before{
				background: url(../static/images/stripe_glow_yellow.png) 15px 1px no-repeat !important;
			}
		.base_parametr_strip_item .stripe_box_val.right{
			left: initial;
			right: -3px;
		}

		.way_development_popup_container_item_left{
			width: 45%;
		}	



/*popups box end*/

/*=========== mession_new end==============*/

	.feat_icon2{
		display: inline-block;
	    width: 50px;
	    height: 50px;
	    margin: 0 0;
	    position: relative;
	    text-align: center;
	    vertical-align: middle;
	}
	.feat_icon2:after{
		content: "";
		visibility: hidden;
		width: 0;
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}
	.feat_icon2 img{
		display: inline-block;
		vertical-align: middle;
	}

	.sm_skew_box{
		float: left;
		margin: 0 7px 13px;
	}

	.teather_box_avatar_img{
		text-align: left;
	}

/*=========== all_mission start==============*/
	.mission_selection_item{
		width: 200px;
	}
	.mission_selection_item2{
		width: 250px;
		margin-left: 50px;
	}
	.mission_selection_box .white_btn_box .btn,
	.event_ribbon_agents.all_miss .white_btn_box .btn{
		padding: 0 42px;
	}
	.mission_selection_box .jq-selectbox{
		width: 100%;
	}

		.mission_selection_box .jq-selectbox .placeholder{
			color: #10f1ff;
			font-family: 'benderregular';
		}

		.mission_selection_box .jq-selectbox.focused .jq-selectbox__select{
			border: none;
			border-bottom: 1px solid #00eaff;
		}

		.mission_selection_box .jq-selectbox__select{
			border: none;
			background: none;
			border-bottom: 1px solid #00eaff;
			border-radius: 0;
			color: #10f1ff;
			font-size: 16px;
			height: 50px;
			line-height: 50px;
			box-shadow: none;
			text-shadow: none;
		}
			.mission_selection_box .jq-selectbox__select:active{
				box-shadow: none;
			}
			.mission_selection_box .jq-selectbox__select:hover{
				background: none;
			}

		.mission_selection_box .jq-selectbox__trigger{
			border: none;
		}	
			.mission_selection_box .jq-selectbox__trigger .jq-selectbox__trigger-arrow{
				background: url(../static/images/tigger_arrow.png) 0 0 no-repeat;
				width: 11px;
				height: 6px;
				border: none;
				right: 18px;
				top: 50%;
				-webkit-transform: translateY(-50%);
		        -ms-transform: translateY(-50%);
		        -o-transform: translateY(-50%);
		        transform: translateY(-50%);
			}

		.mission_selection_box .jq-selectbox__dropdown{
			box-shadow: none;
			border-radius: 0;
			border: 1px solid #00eaff;
			background: #000; 
			margin: 0;
			border-top: none;
		}	
			.mission_selection_box .jq-selectbox li.selected,
			.mission_selection_box .jq-selectbox li:hover{
				color: #00eaff;
				background: rgba(1, 244, 251, .2);
			}
			.mission_selection_box .jq-selectbox li{
				/* text-transform: uppercase; */
				color: #808080;
				font-size: 16px;
				font-family: 'benderregular';
			}

		.mission_selection_box .btn{
			margin-top: 12px;
		}	
	


	.new_miss_box{
		background: url(../static/images/all_mission_bg2.png) 0 0 no-repeat;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
		padding: 50px 0; 
		position: relative;
		z-index: 3;
		overflow: hidden;
		height: 350px;
		width: 100%;
	}
	.new_miss_box .feat_icon{
		margin-right: 17px;
	}
	.all_miss_direction .new_miss_box{
		height: 398px;
		padding-top: 50px;
	    padding-bottom: 50px;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    position: absolute;
	    z-index: 9;
	    background: none;
	}
	.new_svg_mission_container{
		padding: 0;
	}
	.new_svg_mission_container2{
		position: relative;
	}
		.new_svg_miss_box{
			
		}
	.new_abs-box{
		padding-top: 50px;
		padding-bottom: 50px;
		top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    position: absolute;
	    z-index: 9;
	}
	.new_abs-box .new_miss_box_left{
		margin-top: -9px;
	}
		.new_svg_miss_box img{
			display: none;
		}
		.new_miss_box_bg_img{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: .2;
		}
			.new_miss_box_bg_img img{
				width: 100%;
				height: auto;
			}
		.new_miss_box_left,
		.new_miss_box_right{
			width: 50%;
			position: relative;
			padding: 0 50px; 
		}
		.new_miss_box_right{
			padding-top: 15px;
		}
			.new_miss_box_right:before,
			.all_miss_direction_item2:before{
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				background: url(../static/images/all_mission_separator.png) 0 0 no-repeat;
				width: 1px;
				height: 251px;
			}
		.new_miss_box p.title5{
			line-height: 1.2;
		}

			.feat_icon[data-feat="code"],
			.feat_icon[data-feat="code2"]{
			    display: inline-block;
			    width: 149px;
				height: 51px;
				border: 1px solid #11a2e1;
			    margin: 0 15px 0 30px;
			    position: relative;
			}
			.feat_icon[data-feat="code"]:before,
			.feat_icon[data-feat="code2"]:before{
				color: #08a5e7;
			}

		.new_miss_box .feat_icons{
			padding-left: 20px;
		}	

	.event_ribbon_agents.all_miss .white_btn_box{
		margin-top: -23px;
	}


	.all_miss_direction_item,
	.all_miss_direction_item2{
		width: 37.5%;
		padding: 11px 46px 0 50px; 
		position: relative;
	}
	.all_miss_direction_item{
		padding: 18px 46px 0 50px; 
	}
		.all_miss_direction_item2{
			width: 33.3%;
		}
		.all_miss_direction_item2:last-child{
			width: 28.7%;
		}

	.all_miss_direction_item2_title{
		font-size: 22px;	
	}	

	.all_miss_direction_item2 .feat_icons{
		padding-left: 10px;
	}

		.all_miss_direction_item2 .feat_icons .feat_icon{
			border: none;
			width: 30px;
			height: 40px;
			margin-right: 23px;
		}
		.new_svg_mission_container2 .all_miss_direction_item2 .feat_icons .feat_icon:first-child{
			margin-right: 42px;
		}
		.new_svg_mission_container2 .all_miss_direction_item2 .feat_icons .feat_icon:nth-child(2){
			margin-right: 30px;
		}
		.new_svg_mission_container2 .new_svg_miss_box2{
			height: 400px;
		}
			.all_miss_direction_item2 .feat_icons .feat_icon:before{
				top: 50%;
				-webkit-transform: translateY(-50%);
		        -ms-transform: translateY(-50%);
		        -o-transform: translateY(-50%);
		        transform: translateY(-50%);
		        margin-right: 10px;
			}

	.all_miss_direction_item2_block{
		position: relative;
		/* background-color: rgba(8, 165, 231, 0.1);
		border-top: 1px solid rgba(8, 165, 231, 0.1);
		border-bottom: 1px solid rgba(8, 165, 231, 0.1); */
		height: 78px;
		padding: 0 35px;
		/* margin: 0 0 0 23px; */
		width: 100%;
		text-align: center;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		display: table;
		vertical-align: middle;
		font-family: 'benderregular';
	}		
		.all_miss_direction_item2_block span{
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			height: 100%;
		}
		.all_miss_direction_item2_block:before{
			/* content: "";
			position: absolute;
			left: -22px;
			top: 0;
			background: url(../static/images/all_mission_before.png) 0 0 no-repeat;
			width: 22px;
			height: 77px;
			opacity: .1; */
		}
		.all_miss_direction_item2_block:after{
			/* content: "";
			position: absolute;
			right: -22px;
			top: -1px;
			background: url(../static/images/all_mission_after.png) 0 0 no-repeat;
			width: 22px;
			height: 77px;
			opacity: .1; */
		}

	.all_miss_direction_item2_block_svg{
		position: absolute;
		top: 0;
		left: 0;
	}

	.event_ribbon_agents.direction_nuclear_physics .teather_1_3 figcaption{
		padding: 18px 20px 20px
	}	

		.event_ribbon_agents.direction_nuclear_physics .teather_1_3 .title4:not(.extra){
		    min-height: 60px !important;
		    font-size: 30px;
		    line-height: 36px;
		}

		.teather_links_block a{
			position: relative;
			padding-right: 8px;
			margin-right: 4px;
		}
			.teather_links_block a:first-child:after{
				content: "";
				position: absolute;
				background: #fff;
				width: 1px;
				height: 10px;
				right: 0;
				top: 6px;
			}

	.popup_hide{
		visibility: hidden;
		height: 1px;
		overflow: hidden;
	}			
/*=========== all_mission end==============*/

.all_team_popup .arcticmodal-close{
	font-size: 14px;
	line-height: 22px;
	width: 80px;
	background-position: 100% 50%;
}

.all_team_popup_bg ~ .arcticmodal-overlay{
    background: rgba(0 , 0 , 0 , 0.7) url(../static/images/bg_gallery.png) 0 35% repeat-x !important;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

#profile_characteristics_box{
	display: none;
}

.profile_description.show_block #profile_characteristics_box{
	display: block;
}

.profile_description.show_block #show_all_characteristics_btn{
	display: none;
}
.all_characteristics{
	display: none;
}
.profile_description.show_block .all_characteristics{
	display: block;
}
.profile_description.show_block .top_characteristics{
	display: none;
}

.profile_description.show_block{
	background-color: rgba(0, 0, 0, 0.9);
}
/*
.profile_page .white_btn_box .btn{
	margin-top: 0;
}*/
.teams_block.mission_selection_box polygon{
	fill: #000;
	fill-opacity:.3;
}
.teams_block.mission_selection_box .jq-selectbox li{
	text-align: right;
	position: relative;
	text-transform: lowercase;
  	font-family: 'benderbold';
  	font-weight: 400;
  	padding: 5px 40px 6px 0;
  	font-size: 14px;
}
	.teams_block.mission_selection_box .mission_selection_item{
		width: 150px;
	}
	.teams_block.mission_selection_box .jq-selectbox__trigger{
		width: 11px;
	}
	.teams_block.mission_selection_box .jq-selectbox__trigger .jq-selectbox__trigger-arrow{
		right: 0;
	}
	.teams_block.mission_selection_box .jq-selectbox__select{
		font-size: 14px;
		padding-left: 0;
	}
	.teams_block.mission_selection_box .jq-selectbox__dropdown{
		width: 211px !important;
		right: 0;
		left: inherit !important;
		border-top: 1px solid #00eaff; 
	}
	.teams_block.mission_selection_box .jq-selectbox__select:active,
	.teams_block.mission_selection_box .jq-selectbox.focused .jq-selectbox__select{
		border-bottom: none;
	}
	.teams_block.mission_selection_box .jq-selectbox li:hover,
	.teams_block.mission_selection_box .jq-selectbox li.selected{
	    color: #00eaff;
    	background: none;
	}
	.teams_block.mission_selection_box .jq-selectbox li:before{
		content: "";
		position: absolute;
		right: 20px;
		top: 50%;
		-webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
		background: url(../static/images/tigger_sub_menu2.png) 0 0 no-repeat;
		width: 8px;
		height: 7px;
	}
	.teams_block.mission_selection_box .jq-selectbox li:hover:before{
		background: url(../static/images/tigger_sub_menu.png) 0 0 no-repeat;

	}

/* introductory_information active START*/
	.introductory_information.active{
		padding: 35px 40px 65px 40px;
		z-index: 999;
	}
	.introductory_information.active:after{
		content: "";
		position: absolute;
		bottom: 18px;
		left: 0;
		right: 0;
		top: 0;
		z-index: -1;
		background: rgba(0, 38, 45, .7);
		visibility: visible;
    	height: auto;
	}
	.introductory_information.second.active:after{
		background: rgba(0, 38, 45, .8);
	}
	.introduct_all_hide{
		/* visibility: hidden;
		opacity: 0;
		z-index: -5; */
		display: none;
	}
	.introductory_information.active .introduct_all_hide{
		/* visibility: visible;
		opacity: 1;
		z-index: 5; */
	}
	.introductory_information.active .block_info_item_right div{
		margin-bottom: 39px;	
	}

		.introductory_information .introduct_all_hide .title5_roboto{
			padding-right: 50px;
		}

		.introductory_information .base_parametr {
			background: none;
			float: left;
			margin: 0;
			width: 260px;
		    padding: 17px 0 10px 50px;
		}
		.timer_for_mission_wrap{
			padding-top: 17px;
		}
		.introductory_information .base_parametr:after{
			display: none;
		}
		.introductory_information .base_parametr:before{
			content: "";
		    position: absolute;
		    left: 0;
		    top: 0;
		    background: url(../static/images/all_mission_separator.png) 0 0 no-repeat;
		    -webkit-background-size: 100% 100%;
		    background-size: 100% 100%;
		    width: 1px;
		    height: 351px;
		}

		.introductory_information .base_parametr_stripebox .base_parametr_title{
			font-size: 14px;
		}
		.introductory_information .stripe_box_val{
			color: #1492c6;
			font-size: 14px;
		}
		.introductory_information [data-stripe-clr="yellow"] .stripe_box_val{
			color: #d3ff03;
		}
		.introductory_information [data-stripe-clr="red"] .stripe_box_val{
			color: #f20202;
		}

		.timer_for_mission{
			width: 194px;
			height: 182px;
			background: url(../static/images/bg_timer.png) 0 0 no-repeat;
			padding: 47px;
			text-align: center;
			font-size: 16px;
			position: relative;
		}

			.timer_bg_shadow{
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: url(../static/images/shadow_bg.png) 49% 52% no-repeat;
			}

		.introductory_information .block_info_item_right{
			padding: 0 0 0 50px;
			min-height: auto;
		}	

			.introductory_information .icon_main_box_item{
				margin-right: 0;
				margin-left: 73px;
			}
			.introductory_information .icon_main_box_item:first-child{
				margin-left: 36px;
			}
			.introductory_information .icon_main_box_item:after{
				color: #fff;
				right: initial;
				left: -49px;
			}
			.item_slide_icon_hide{
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				-webkit-transform: translateY(-50%) translateX(-50%);
				   -moz-transform: translateY(-50%) translateX(-50%);
				    -ms-transform: translateY(-50%) translateX(-50%);
				     -o-transform: translateY(-50%) translateX(-50%);
				        transform: translateY(-50%) translateX(-50%);	
				visibility: hidden;
				opacity: 0;
			}
			.item_slide:hover .other_missions_slider_text{
				visibility: hidden;
				opacity: 0;
			}
			.item_slide:hover .item_slide_icon_hide{
				visibility: visible;
				opacity: 1;
			}
			.item_slide_icon_hide .icon_main_box_item{
				margin-bottom: 0;
				margin-left: 46px;
				display: inline-block;
				float: none;
			}

		.other_missions_slider{
			height: auto;
			padding: 0 83px;
		}

		.other_missions_slider .owl-item{
			text-align: center;
		}	

		.other_missions_slider .item_slide{
			width: 249px;
			height: 77px;
			position: relative;
			display: inline-block;
		}
			.item_link_slide{
				position: absolute;
			}

		.item_slide_svg{
			width: 249px;
			height: 77px;
		}

		.other_missions_slider_text{
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			text-align: center;
    		font-family: 'benderregular';
    		font-size: 16px;
			-webkit-transform: translateY(-50%);
	        -ms-transform: translateY(-50%);
	        -o-transform: translateY(-50%);
	        transform: translateY(-50%);
	        visibility: visible;
	        opacity: 1;
		}

		.item_slide:hover svg path {
		    fill: #33f7fc;
		    stroke: #02f4fb;
		}

		.macrogame_menu{
			width: 301px;
			height: 50px;
			text-align: center;
			cursor: pointer;
			margin: 35px auto 0;
		}

		.macrogame_menu svg{
			position: absolute;
			top: 0;
			left: 0;
		}

			/*.macrogame_menu:before{
				content: "";
				width: 14px;
				height: 50px;
				background: url(../static/images/macrogame_menu_before.png) 0 0 no-repeat;
				position: absolute;
				left: 0;
				top: 0;
			}
			.macrogame_menu:after{
				content: "";
				width: 13px;
				height: 50px;
				background: url(../static/images/macrogame_menu_after.png) 0 0 no-repeat;
				position: absolute;
				right: 0;	
				top: 0;
			}*/

			
		.macrogame_menu .icon_main_box{
			height: 50px;
			margin-bottom: 0;
		}

			.macrogame_menu .icon_main_box_item{
				margin: 0 0 0 0;
				line-height: 50px;
				padding-left: 28px;
				width: 25%;
			}

				.macrogame_menu .icon_main_box_item svg{
					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;
				}
				.hover_img,
				.icon_blue_img{
					position: absolute;
					z-index: 2;
					opacity: 0;
					visibility: hidden;
					left: 51px;
					top: 50%;
					-webkit-transform: translate(-50%, -50%);
			        -ms-transform: translate(-50%, -50%);
			        -o-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
				}

				.macrogame_menu .icon_main_box_item:hover .hover_img,
				.macrogame_menu .icon_main_box_item.blue .icon_blue_img{
					opacity: 1;
					visibility: visible;
				}
				.macrogame_menu .icon_main_box_item:hover svg path{
					fill-opacity: 1;
				}

				.macrogame_menu .icon_main_box_item:hover:after,
				.macrogame_menu .icon_main_box_item.blue:hover:after{
					color: #02f3fb;
				}
				.macrogame_menu .icon_main_box_item.blue:after{
					color: #08a5e7;
				}

				.macrogame_menu .icon_main_box_item img{
					vertical-align: middle;
				}


			.macrogame_menu .icon_main_box_item:first-child{
				padding-left: 28px;
			}

			.macrogame_menu .icon_main_box .icon_main_box_item{
				margin-right: 0;
			}

			.macrogame_menu .icon_main_box_item:after{
			    right: initial;
				left: 0;
				color: #fff;
				font-size: 16px;
	    		font-family: 'benderregular';
			}	

		.macrogame_menu_list{
			border: 1px solid #00b6b7;
			position: absolute;
			bottom: 100%;
			padding: 10px 0 15px;
			width: 400px;
			text-align: left;
			display: none;
			background: rgba(0, 0, 0, .7);
		}

		.icon_main_box .icon_main_box_item:first-child:before,
		.icon_main_box .icon_main_box_item:last-child:before{
			content: "";
			background: #3af7fc;
			width: 1px;
			height: 10px;
			position: absolute;
			right: 0;
			top: 50%;
			-webkit-transform: translateY(-50%);
	        -ms-transform: translateY(-50%);
	        -o-transform: translateY(-50%);
	        transform: translateY(-50%);
		}
		.introductory_information .block_info_item_right .icon_main_box .icon_main_box_item:first-child:before,
		.introductory_information .block_info_item_right .icon_main_box .icon_main_box_item:last-child:before,
		.introductory_information .other_missions_slider .icon_main_box_item:before{
			display: none;
		}
		.block_info_item_right .icon_main_box .icon_main_box_item[data-imgIcon*="icon"]:before{
			content: "";
			vertical-align: middle;
			display: inline-block;
			width: 0;
			height: 100%;
			margin-left: 0;
			position: static;
		}
		.icon_main_box .icon_main_box_item:last-child:before{
			right: initial;
			left: 0;
		}

		.icon_main_box .icon_main_box_item:nth-child(1) .macrogame_menu_list{
			left: -65%;
		}
		.icon_main_box .icon_main_box_item:nth-child(2) .macrogame_menu_list{
			left: -124px;
		}
		.icon_main_box .icon_main_box_item:nth-child(3) .macrogame_menu_list{
			right: -167%;
		}
		.icon_main_box .icon_main_box_item:nth-child(4) .macrogame_menu_list{
			right: -67%;
		}

			.macrogame_menu_list.active{
				display: block;
				z-index: 9;
			}

			.macrogame_menu_list:before{
				content: "";
				background: url(../static/images/macrogame_menu_list_bg.png) 0 0 no-repeat;
				width: 278px;
				height: 3px;
				position: absolute;
				bottom: 0;
				left: 50%;
				-webkit-transform: translateX(-50%);
		        -ms-transform: translateX(-50%);
		        -o-transform: translateX(-50%);
		        transform: translateX(-50%);
		        box-shadow: 0 -5px 20px #00f9fe, -2px 0 20px #00f9fe, 2px 0 20px #00f9fe;
			}

			.macrogame_menu_list_link{
				padding: 7px 10px 7px 65px;
				display: block;
				position: relative;
	    		font-family: 'benderregular';
	    		font-size: 16px;
	    		line-height: 1.2;
			}

			.macrogame_menu_list_link span{
				text-transform: capitalize;
				display: block;
			}
				
				.macrogame_menu_list_link:hover span{
					color: #00f6ff;
				}
				.macrogame_menu_list_link:hover{
					background: rgba(14, 89, 120, .7);
				}
				
				.macrogame_menu_list_link[data-icon]:before{
					content: "";
					width: 25px;
					height: 25px;
					position: absolute;
					left: 29px;
					top: 11px;
				}
				.macrogame_menu_list_link[data-icon="icon1"]:before{
					background: url(../static/images/macrogame_menu_list_icon.png) 0 0 no-repeat;
				}
				.macrogame_menu_list_link[data-icon="icon2"]:before{
					width: 24px;
					height: 22px;
					background: url(../static/images/macrogame_menu_list_icon2.png) 0 0 no-repeat;
				}
				.macrogame_menu_list_link[data-icon="icon1"]:hover:before{
					background: url(../static/images/macrogame_menu_list_icon_hover.png) 0 0 no-repeat;
				}
				.macrogame_menu_list_link[data-icon="icon2"]:hover:before{
					background: url(../static/images/macrogame_menu_list_icon2_hover.png) 0 0 no-repeat;
				}

				.macrogame_menu_list_link[data-circle],
				.macrogame_menu_list_link[data-icon]{
					position: relative;
				}
				.macrogame_menu_list_link[data-circle="macrogame_menu"]:after{
					content: "";
					background: url(../static/images/macrogame_menu_circle.png) 0 0 no-repeat;
					width: 10px;
					height: 10px;
					position: absolute;
					left: 10px;
					top: 17px;
				}


/* introductory_information active END*/

/*popup*/

.popup_mission_list{
	margin: 0 -11px;
}
	.popup_mission_list_item{
		width: 200px;
		height: 203px;
		float: left;
		margin: 0 11px 50px;
		letter-spacing: 1px;
	}

	[data-status="passive"]{
		color: #cccdcd;
	}

	.popup_mission_list_abs{
		position: absolute;
		top: 15px;
		left: 26px;
		right: 10px;
		bottom: 0;
	}
	.popup_mission_list_abs .title4{
		line-height: 25px;
	}
	.popup_mission_sub_title{
	    font-family: 'benderregular';
		font-size: 16px;
		color: #959595;
	}
	.popup_mission_data_title{
		position: absolute;
		bottom: 15px;
		font-size: 16px;
	}
	.popup_mission_data{
		display: block;
	}
	[data-status="active"] .popup_mission_data{
		color: #00a8ff;
	}

	.popup_link{
		position: absolute;
		display: block;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.return_in_game{
		color: #01f5fb;
		display: block;
		width: 100%;
		text-align: center;
		position: relative;
		font-size: 16px;
		line-height: 40px;
	}
		.return_in_game:before{
			content: "";
			background: url(../static/images/return_in_game_bg.png) 0 0 no-repeat;
			width: 224px;
			height: 40px;
			position: absolute;
			bottom: 0;
			left: -17px;
		}

.mb400{
	margin-bottom: 400px;
}

/*macrogame3 popup start*/

.popup_event_results .popup_title_block{
	min-height: 134px;
}

.popup_event_results .popup_bg:before{
	background-color: rgba(8, 165, 231, 0.2);
    height: 134px;
}

.popup_event_results .title_popup{
	line-height: 1.2;
}
.popup_event_results .sub_title_popup{
	font-size: 16px;
	display: block;
	line-height: 25px;
	color: #a9a9a9;
    font-family: 'benderregular';
}

.popup_event_results .popup_event_res_content{
	padding: 45px 41px 45px 41px;
}

.popup_event_results .scale_padd{
	padding: 0 41px 0 41px;
}
.popup_event_results .popup_scale_block{
	position: relative;
	width: 100%; 
}

	.popup_event_results .popup_scale{
		background-color: #f2ff4e;
		width: 100%;
		height: 2px;
		position: absolute;
		top: 45px 
	}
	.popup_event_results .popup_scale_blue{
		background-color: #62d8ff;
		height: 2px;
		position: absolute;
		top: 0;
		z-index: 2;
	}
		.popup_event_results .popup_scale_blue:before{
			content: "";
			width: 69px;
			height: 44px;
			background: url(../static/images/popup_scale_middle_img.png) 0 0 no-repeat;
			position: absolute;
			right: -32px;
			top: -22px;
		}

		.popup_scale_blue_elipse,
		.popup_scale_yellow_elipse{
			position: absolute;
			top: 0;
			left: 20%;
			-webkit-transform: translateY(-50%);
	        -ms-transform: translateY(-50%);
	        -o-transform: translateY(-50%);
	        transform: translateY(-50%);
			display: block;
			width: 47px;
			height: 9px;
			background: url(../static/images/popup_scale_blue_elipse.png) 0 0 no-repeat;
		}	
		.popup_scale_yellow_elipse{
			background: url(../static/images/popup_scale_yellow_elipse.png) 0 0 no-repeat;
			left: initial;
			right: 30%;
		}

.popup_event_results .scale_left_number,
.popup_event_results .scale_right_number{
	font-family: 'benderbold';
	font-size: 32px;
	line-height: 1.2;
	color: #62d8ff;
}

.popup_event_results .scale_left_text,
.popup_event_results .scale_right_text{
	color: #5da3e4;
    font-family: 'benderregular';
    font-size: 12px;
}

.popup_event_results .scale_right_number,
.popup_event_results .scale_right_text{
	color: #f2ff4e;
	text-align: right;
}


.popup_event_results .popup_event_res_content_item{
	width: 50%;
	float: left;
}

.popup_event_results .lesson-col_agent {
	padding: 0; 
}
.lesson_col_agent_item{
	width: 43%;
	float: left;
	position: relative;
	padding-left: 38px; 
}
.lesson_col_agent_item:first-child{
	width: 214px;
	padding-left: 0;
}
.lesson_col_agent_item:first-child:before{
	display: none;
}
	.lesson_col_agent_item:before{
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		background-color: #fff;
		width: 1px;
		height: 10px; 
		-webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
	}

/*accordion*/

.accordoin_list_box.visible{
    visibility: visible;
    opacity: 1;
    z-index: 99;
}

.visible.accordoin_list_box{
	width: auto;
}

.visible.accordoin_list_box .accordoin_list_item{
	width: 243px;
}

.visible.accordoin_list_box .accordoin_list_item.active{
	width: 340px;
}

.visible .accordoin_list_title{
	font-size: 16px;
	padding: 17px 10px 17px 56px;
}

.visible .accordoin_list_item:not(:first-child){
	margin-top: 0;	
}


/*login popup*/

.arcticmodal-container_i2{
	position: relative;
}

.log_popup.box-modal{
	width: auto;
}

	.popup__login_content{
		width: 598px;
		background: rgba(23, 61, 83, .15);
		position: relative;
		padding: 58px 100px 52px;
	}

	.popup__login_content::before{
		content: "";
		width: 14px;
		height: 14px;
		background: url(../static/images/plus_white.png) 0 0 no-repeat;
		position: absolute;
		left: -7px;
		top: -7px;
	}

	.popup__login_content::after{
		content: "";
		width: 14px;
		height: 14px;
		background: url(../static/images/plus_white.png) 0 0 no-repeat;
		position: absolute;
		right: -7px;
		bottom: -7px;
	}

	.popup__login_content[data-skin="blue"]{
      background-color: rgba(8,165,231,0.1);
    }

	.popup__login_content .title3{
		letter-spacing: 1.5px;
	}

	.popup__login_content .send_invite_item{
		width: 100%;
		margin-bottom: 0 !important;
	}

	.white04__color{
		color: rgba(255,255,255, .4);
	}

	.white04__color:hover{
		color: rgba(255,255,255, 1);
	}

	.popup__helper{
		position: absolute;
		bottom: -225px;
		left: 0;
		right: 0;
		background: url(../static/images/small_hr.png) 50% 0 no-repeat;
		padding-top: 30px;
	}

.log_popup .resp-tabs-list{
	text-align: center;
	margin-left: -25px;
	margin-right: -25px;
}

.log_popup .resp-tabs-list li{
	margin: 0 25px;
	display: inline-block;
	min-width: 159px;
	font-size: 22px;
	line-height: 55px;
	font-family: 'benderbold';
	text-transform: uppercase;
	cursor: pointer;
	color: rgba(0,249,255, .4);
	letter-spacing: 3px;
}
.log_popup .resp-tabs-list li:hover{color: rgba(0,249,255, 1);}
.log_popup .resp-tabs-list li.resp-tab-active{
	background: url(../static/images/popup_tabs_border.png) 0 100% no-repeat;
	color: #fff;
}