/*------------------------------  START: RESULT  ---------------------------*/

	/*------- section 1 -------*/
	.box_24_yell{
		position: relative;
		width: 100%;
		min-height: 150px;
		padding: 13px 16px;
		margin-bottom: 50px;
		
	}
		.hidden_btn{
			position: absolute;
			text-transform: lowercase;
			right: 28px;
			top: 16px;
			font-size: 13px;
			letter-spacing: 0.8px;
		}

		.info1{
			font-size: 16px;
			color: #FFF;
			letter-spacing: 0.8px;
			margin-bottom: 23px;
		}
	/*------- section 2 -------*/
	.box_24_comment{
		width: 100%;
	}
	.block_indent{
		margin: 18px 0;
	}
		.comment_container,
		.comment_media{
			width: 49.99%;
			width: calc(50% - 0.5px);
		}
		.effect_container{
			min-height: 233px;
			padding: 24px 40px 25px;
		}
		.effect_container.indent2{
			padding: 24px 50px 25px;
		}
		.honor_container{
			min-height: 233px;
			padding: 24px 0 17px;
		}
				.effect_container .icon_main_box_item{
					margin-bottom: 0;
				}
				.effect_btn{
					margin: 6.5px 0;
				}
					.effect_icon_box .icon_main_box_item{
						margin-bottom: 17px;
					}
					.icon_main_box_item.second{
						color: #00B1FF;
						border: none;
						position: relative;
						padding-left: 33px;
						text-align: left;
						margin-left: 27px;
					}
					.icon_main_box_item.second:not(:last-child){
						margin-right: 49px;
					}
					.icon_main_box_item.third{
						border: none;
						color: #00B1FF;
					}
					.icon_main_box_item.third:before,
					.icon_main_box_item.third:after,
					.icon_main_box_item.second:before,
					.icon_main_box_item.second:after{
						display: none;
					}
					.icon_main_box_item.second img{
						vertical-align: middle;
						position: absolute;
						top: 50%;
						left: 0;
						-webkit-transform: translateY(-50%);
						   -moz-transform: translateY(-50%);
						    -ms-transform: translateY(-50%);
						     -o-transform: translateY(-50%);
						        transform: translateY(-50%);
					}
					.macrogame_menu.important_box .icon_main_box_item.second:before,
					.macrogame_menu.important_box .icon_main_box_item.second:after,
					.macrogame_menu.important_box .icon_main_box_item.third:before,
					.macrogame_menu.important_box .icon_main_box_item.third:after{
						display: block;
					}
					.macrogame_menu.important_box .icon_main_box_item.second,
					.macrogame_menu.important_box .icon_main_box_item.third{
						margin-left: 0;
						margin-right: 0;
						text-align: center;
					}
					.macrogame_menu.important_box .icon_main_box_item.second img.p_static{
						margin-left: -5px;
					}
					.macrogame_menu.important_box .icon_main_box_item img.p_static,
					.macrogame_menu.important_box .icon_main_box_item.second img{
						position: static;
						-webkit-transform: none;
						   -moz-transform: none;
						    -ms-transform: none;
						     -o-transform: none;
						        transform: none;
					}
					.icon_main_box_item[data-bd="blue"]{
						background: url(../static/images/icon_main_square_blue.png) 0 0 no-repeat;
						color: #00B1FF;
						margin-right: 49px;
					}
					.icon_main_box_item[data-bd="blue"]:after{
						color: #00B1FF;
					}
		.comment_container{
			padding: 24px 40px 26px;
			position: relative;
		}
		.comment_container:after{
		    content: "";
			display: block;
		    position: absolute;
		    right: -1px;
		    transform: translateY(-50%);
		    top: 50%;
		    width: 1px;
		    height: 50px;
		    background-color: #fff;
		}
			.comment_info{
				position: relative;
				margin-bottom: 24px;
			}
				.comment_info:before,
				.comment_info:after{
					content: "";
					position: absolute;
					width: 20px;
					height: 20px;
					background: url(../static/images/quotes.png) no-repeat;
				}
				.comment_info:before{
					left: -25px;
					background-position: 0 119%;
				}
				.comment_info:after{
					right: 210px;
					top: 51px;
					background-position: 0 0;
				}
				.info2{
					font-size: 16px;
					color: #FFF;
					letter-spacing: 0.9px;
				}
			.comment_author{
				font-size: 18px;
				margin-bottom: 0;
				letter-spacing: 1px;
				font-family: 'benderbold';
			}
				.comment_author_span{
					margin-left: 16px;
					color: #00B1FF;
					font-size: 16px;
					font-family: 'benderregular';
				}
		.comment_media{
			position: relative;
			cursor: pointer;
		}
			.media_cover{
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				background: url(../static/images/play_icon.png) 50% 50% no-repeat;
				background-color: rgba(1,245,241,0.3);
			}

/*------------------------------  END: RESULT  ---------------------------*/

.grey_color{
	color: #8A8A89;
}
.l_spacing1{
	letter-spacing: 1px;
}
.l_spacing2{
	letter-spacing: 2.5px;
}
[data-yellowshadow="yellow"] {
    background-color: rgba(146,150,65,0.2);
}
[data-skillType="power_blue"]:before{
    background: url(../static/images/skill_power_icon_blue.png) 0 50% no-repeat;
}
[data-hr="separator3"]{
	width: 449px;
	height: 1px;
	margin: 43px 0;
	background: url(../static/images/separator3.png) 0% 0% no-repeat;
}
[data-hr="separator4"]{
	width: 338px;
	height: 1px;
	margin: 14px 0;
	background: url(../static/images/separator4.png) 0% 0% no-repeat;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
}
.m_auto{
	margin: 0 auto;
	float: none;
}
[data-color="grey_light"]{
	color: #838687;
}
[data-color="grey_light2"]{
	color: #868889;
}
[data-color="grey_light3"]{
	color: #b0b0b0;
}
[data-color="white_translucent"]{
	color: rgba(255,255,255,.5);
}
[data-color="grey_2"]{
	color: #8d8d8d;
}
.title7{
	font-size: 42px;
	line-height: 1;
}
.title_fz36{
	font-size: 36px;
	line-height: 1.2;
}
.fz22{font-size: 22px;}
.fz14{font-size: 14px;}
.fz16{font-size: 16px;}
.mt_zero{margin-top: 0 !important;}
.mb_zero{margin-bottom: 0 !important;}
.mt3{margin-top: 3px;}
.mt5{margin-top: 5px;}
.mt7{margin-top: 7px;}
.mt8{margin-top: 8px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt39{margin-top: 39px;}
.tt_upp{
	text-transform: uppercase;
}
.w250{
	width: 246px;
	text-align: center;
}
.w200{
	width: 195px;
}
	.w200 a{
		width: 100%;
	}
.mxw450{
	max-width: 450px;
}
/*---------------------------  START: PROFILE  --------------------------*/
.profile_description{
	position: relative;
	z-index: 10;
	/* margin-bottom: 60px; */
	background-color: rgba(0, 0, 0, 0.6);
	border-top: 1px solid rgba(255, 255, 255, 0.7);
	border-left: 1px solid rgba(255, 255, 255, 0.7);
	border-right: 1px solid rgba(255, 255, 255, 0.7);
}
.profile_description.prof_svb_box,
.profile_description.prof_svb_box2{
	border: none;
	/* width: 700px;
	min-height: auto; */
	/* height: 600px; */
	/* height: 100%; */
	background-color: transparent;
}
	.profile_description:after{
		position: absolute;
		content: "";
		width: 100%;
		height: 29px;
		left: -1px;
		bottom: -28px;
		border-left: 1px solid rgba(255, 255, 255, 0.7);
		background: url(../static/images/profile_bg_after.png) 0% 0% no-repeat;
	}
	.profile_description.prof_svb_box::after,
	.profile_description.prof_svb_box2::after{
		display: none;
	}
	.profile_desc_img{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		opacity: .5;
	}
	.profile_description.prof_svb_box .profile_desc_img,
	.profile_description.prof_svb_box2 .profile_desc_img{
		opacity: 1;
	}
	.profile_desc_img img{
		width: 100%;
		height: 100%;
	}
	.profile_page_figcaption{
		position: relative;
		z-index: 11;
		width: 100%;
		padding: 30px 45px 30px;
	}

		.profile_btn{
			 color: #01F4FB;
			font-size: 16px;
			font-weight: 300;
			display: inline-block;
		}
		.profile_page .stripe_box_fill{
			width: 55%;
		}
			.profile_page .stripe_box_fill:before{
				width: 138px;
			    height: 10px;
			    right: 0;
			    top: -1px;
			    background: url(../static/images/stripe_glow2.png) 100% 0 no-repeat;
			    margin: -5px 0 0 -7px;
			    content: "";
			}
		.profile_page .stripe_box_val {
		    font-size: 18px;
		    color: #08a5e7;
		    margin: -10px 0 0 4px;
		    padding: 0 12px;
		}
	.base_parametr_stripebox.profile_page{
		margin-top: 25px;
	}
	.profile_level_box{
		margin-top: -10px;
		width: 40%;
    	font-family: 'benderregular';
	}
		.profile_level_box p{
			letter-spacing: 1px;
			margin-bottom: 5px !important;
		}
	.profile_page .person_skill_fill{
	    width: 135px;
	    margin-right: 5px;
	}
		.profile_page .person_skill_fill:last-child{
			margin-right: 0;
		}
	.skill_icon{
		width: 50px;
		margin-top: 8px;
	}
		.person_skill_content{
			width: 555px;
		}
			.person_skill_content .person_skill_label{
				padding: 0 !important;
			}
			.person_skill_content .title5{
				line-height: 1;
			}
			.skill_icon .person_skill_label:before{
				left: 8px;
			}
			.person_skill_content .person_skill_wrap {
			    padding: 4px 0 0;
			}
.profile_right_box{
	width: 450px;
	/*padding-right: 50px;*/
}
	.profile_page .epizode_box{
		padding: 0 !important;
	}
		.profile_page .epizode_box .title1{
			padding-right: 15px;
			letter-spacing: 1px;
		}
		.profile_page .lesson-col_agent{
			padding-top: 0;
		}
		.key_count:after{
			content: "";
			width: 17px;
			height: 33px;
			display: inline-block;
			background: url(../static/images/key_icon.png) 90% 50% no-repeat;
		}
		.profile_page .achivment_team_figure:nth-child(odd){
			margin-right: 0;
		}
		.profile_right_box .profile_btn{
			margin-top: 10px;
		}

	.specialization_block .base_parametr_stripebox{
		width: 302px;
		margin-left: 30px;
	}
		.specialization_block .stripe_box_fill:before{
			left: 55px;
		}
		.profile_page .stripe_box_val{
			margin: -10px 0 0 -7px;
		}
		.specialization_block .stripe_box{
			position: relative;
		}
			.specialization_block .stripe_box:before,
			.specialization_block .stripe_box:after{
				content: "";
				position: absolute;
				width: 5px;
				height: 6px;
				top: -2px;
				z-index: 9;
				visibility: visible;
				display: inline-block;
				background-color: #86A4B1;
			}
			.specialization_block .stripe_box:before{
				left: 0;
			}
			.specialization_block .stripe_box:after{
				right: 0;
			}
			.specialization_block .feat_icons{
				margin-top: 20px; 
				
			}
				.specialization_block .stripe_box_info{
					margin-left: -1px;
					margin-right: 18px;
				}

				.specialization_block .title5{
					margin-top: -30px;
    				margin-bottom: 15px;
				}
				.specialization_block .teather_1_3 figcaption{
					padding: 45px 20px 20px;
				}
	.teather_new_indent{
		margin: 0 45px;
	}
	.event_ribbon_agents .teather_1_3 .teather_new_indent{
		padding-top: 41px;
	}
	.profile_page .teather_1_3{
		height: 250px;
	}


/*---------------------------  START: ALL TEAM  --------------------------*/
.best_team_box{
	height: 250px;
	margin: 0 -50px 49px;
	position: relative;
	padding: 34px 50px;
	-webkit-background-size: cover !important;
	     -o-background-size: cover !important;
	        background-size: cover !important;
}
[data-best="bg1"]{
	background: url(../static/images/all_team_bg1.png) 0% 0% no-repeat;
}
[data-best="bg2"]{
	background: url(../static/images/all_team_bg1_2.png) 0% 0% no-repeat;
}
.best_team_box:before,
.best_team_box:after{
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	left: 0;
	right: 0;
	background: url(../static/images/separator5.png) 0% 0% no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.best_team_box:before{top: 0;}
.best_team_box:after{bottom: 0 !important;}

	.absolute_symbol/* ,
	[data-teamSymbol="symbol1"]:after */{
		/* content: ""; */
		top: 26px;
		right: 0;
		bottom: 20px;
		/* width: 371px;
		height: 202px !important; */
		max-width: 100%;
		max-height: 100%;
		/* background: url(../static/images/all_team_symbol1.png) 0% 0% no-repeat; */
		position: absolute;
	}
	.best_team_col{
		float: left;
		width: 350px;
		margin-right: 50px;
	}
	.best_team_col:last-child{
		margin-right: 0;
	}
		.best_team_col a[data-size="medium"]{
			font-size: 14px !important;
		}
			.best_team_col .lesson-col_agent{
				padding-bottom: 0;
				padding-top: 20px;
			}
				.best_team_col .composition_item_figure{
					width: 100%;
					background-color: transparent;
					padding: 11px 0px 0px 0px;
				}
					.best_team_col .composition_item_figure.lider_command .composition_item_img:before{
						content: "";
						width: 22px;
					    height: 22px;
					    top: -1px;
					    left: -1px;
					    -webkit-background-size: 100%;
					    -o-background-size: 100%;
					    background-size: 100%;
					}
		.best_team_col .achivment_team_figure{
			width: 100%;
			margin-right: 1px;
			margin-bottom: 10px;
		}
	.team_teather_figcaption{
		padding: 24px 40px 20px 50px !important;
	}
		.team_teather_figcaption .title4{
			display: inline;
			letter-spacing: 1.5px;
		}
			.team_teather_figcaption .title4 span{
				line-height: 40px;
			}
			.team_teather_figcaption .title3{
				min-height: 75px;
				/* margin-bottom: 15px; */
				margin-top: 28px;
			}
			.teather_1_3 .title4:not(.extra) {
			    min-height: 40px !important;
			}
		.show_more_btn{
			margin-top: 70px !important;
			margin-left: auto !important;
			margin-right: auto !important;
			
		}
		.search_input{
			color: #FFF;
			width: 300px;
			font-size: 16px;
			line-height: 50px;
			padding-right: 50px;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid #10f1ff;
		    font-weight: normal;
		    font-family: 'benderregular';
			background: url(../static/images/search_icon.png) 95% 50% no-repeat;
		}
		.search_input::-webkit-input-placeholder{
		  font-weight: normal;
		  font-family: 'benderregular';
		  font-size: 16px;
		}
		.search_input::-moz-placeholder{
		  font-weight: normal;
		  font-family: 'benderregular';
		  font-size: 16px;
		}/* Firefox 19+ */
		.search_input:-moz-placeholder{
		  font-weight: normal;
		  font-family: 'benderregular';
		  font-size: 16px;
		}/* Firefox 18- */
		.search_input:-ms-input-placeholder{
		  font-weight: normal;
		  font-family: 'benderregular';
		  font-size: 16px;
		}



/* MISSION POPOUP */
.mission_popup{
	width: 1200px;
}
.mission_page .arcticmodal-overlay{
	background-color: rgba(0 , 0 , 0 , 0.95) !important;
	opacity: 0.95;
}



/*===========новое========*/

.progress_mission_info_2{
	width: 600px;
	padding: 0 48px;
}

.progress_mission_info_3{
	width: 207px;
	padding: 50px 7px;
	padding: right;
}

