
/*---------------------------  START: PROFILE  --------------------------*/
	/*.new_style .header_user_links_code{
		padding-right: 76px !important;
	}
		.new_style .header_user_links_code:before{
			content: "";
			position: absolute;
			background: url(../static/images/card_icon.png) 0 0 no-repeat;
			width: 61px;
			height: 14px;
			top: 50%;
			right: 0;
			-webkit-transform: translateY(-50%);
			   -moz-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			     -o-transform: translateY(-50%);
			        transform: translateY(-50%);
		}*/

	.new_style .achivment_team_figure{
		min-width: 200px;
		width: auto;
		margin-bottom: 22px;
	}
		.new_style .achivment_team_img{
			padding-top: 10px;
		}
		.new_style .achivment_team_text{
			padding-top: 9px;
			padding-left: 20px;
		}
		.new_style .achivment_team_name{
			line-height: 1.2;
		}


	.new_style .search_list{
		padding: 0 35px;
		background: url(../static/images/search_menu_stick_bg2.png) 0 0 no-repeat;
	}
		.new_style .search_list_item{
			width: 100px;
			padding-left: 43px;
		}
			.new_style .search_list .mission{
				padding-right: 28px;
			    position: relative;
			    display: inline-block;
			    color: #838383;
			}
			.new_style .search_list .mission::before{
				content: "";
			    background: url(../static/images/complete_mission_icon.png) 0 0 no-repeat;
			    width: 23px;
			    height: 23px;
			    position: absolute;
			    right: 0;
			    top: 50%;
			    -webkit-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			    -o-transform: translateY(-50%);
			    transform: translateY(-50%);
			}
			.new_style .search_list_item:hover .mission{
				color: #3AF7FC;
			}
			.new_style .search_list_item:hover .mission::before{
				background: url(../static/images/complete_mission_icon_hover.png) 0 0 no-repeat;
			}
			.new_style .search_list_item:last-child:hover{
				width: 360px;
			}

	.new_style .search_list_item:nth-child(2):hover .notifications::before{
		background: url(../static/images/menu_search_icon2_hover.png) 0 0 no-repeat;
	}

	.new_style .profile_description.prof_svb_box{
		background-color: rgba(0, 0, 0, 0.6);
	}

		.new_style .profile_desc_img path{
			fill-opacity: 1;
			padding-top: 1px;
			padding-right: 1px;
			position: relative;
		}
			.new_style .profile_desc_img::before{
				content: "";
				width: 150px;
				height: 150px;
				z-index: 50;
				position: absolute;
				right: 0;
				top: 0;
				opacity: .25;
				display: block;
				background: url(../static/images/gif/profile_photo.gif) 0 0 no-repeat;
			}
			.new_style .profile_desc_img{
				opacity: 1;
			}

	.new_style .stripe_box_unfill{
		width: 45%;
	}
	.new_style .profile_page .stripe_box_fill[data-val="40"]{
		width: 41%;
	}
		.new_style .stripe_box_fill[data-val="40"]:before{
			width: 56%;
		}
		.new_style .profile_page .stripe_box_val{
			margin: -10px 0 0 15px;
		}
	.new_style .profile_page .stripe_box_fill[data-val="0"]{
		width: 0%;
	}
		.new_style .stripe_box_fill[data-val="0"]:before{
			width: 0%;
		}
		.new_style .stripe_box_fill[data-val="0"] + .stripe_box_unfill{
			width: 95%;
		}
		.new_style .profile_page [data-val="0"] .stripe_box_val{
			margin: -10px 0 0 0;
			padding: 0;
			color: #868889;
		}

	.edit_profile{
		display: block;
		padding-left: 28px;
		font-size: 16px;
		color: #027E81;
		font-weight: normal;
		/*letter-spacing: 1px;*/
    	font-family: 'benderregular';
		background: url(../static/images/edit_icon.png) 0 0 no-repeat;
	}
	.edit_profile:hover{
		color: #01F4FB;
		background: url(../static/images/edit_icon_act.png) 0 0 no-repeat;	
	}

	/*.new_style .search_list:hover{
		background: url(../static/images/search_menu_stick_bg2.png) 0 0 no-repeat;
	}*/

	.vk_share{
		padding: 8px 15px 8px 47px;
		text-align: center;
		letter-spacing: 1px;
		background: #2c394d url(../static/images/vk_icon.png) 10% 47% no-repeat;
	}
	.vk_share:hover{
		color: #FFF;
		background-color: #556E95;
	}
	.vk_share + .btn[data-skin="aqua"][data-size="medium"]:before,
	.vk_share + .btn[data-skin="aqua"][data-size="medium"]:after{
		opacity: 0.5;
	}
	.vk_share + .btn:hover[data-skin="aqua"][data-size="medium"]:before,
	.vk_share + .btn:hover[data-skin="aqua"][data-size="medium"]:after{
		opacity: 1;
	}
	.vk_share + .btn{
		position: relative;
		padding: 0 27px;
		letter-spacing: 0.85px;
	}

	.mt_0{
		margin-top: 0 !important;
	}



		.vk_share + .btn span{
			position: absolute;
			visibility: hidden;
			left: -160px;
			top: 5px;
			text-align: right;
			font-size: 12px;
			line-height: 1.2;
			letter-spacing: 0.5px;
			color: rgba(255, 255, 255, 0.5);
			
			-webkit-transition: all 0.3s ease;
			  -moz-transition: all 0.3s ease;
			  -o-transition: all 0.3s ease;
			  transition: all 0.3s ease;
		}
		.vk_share + .btn:hover span{
			visibility: visible;
		}

	.code_count:after{
		content: "";
		width: 23px;
		height: 33px;
		display: inline-block;
		background: url(../static/images/blue_icon4.png) 90% 50% no-repeat;
	}

	.profile__team_box{
		
	}
		.profile__team_box .img_box{
			width: 50px;
			margin-right: 23px;
		}
		.profile__team_box figcaption{
			width: calc(100% - 75px);
		}
			.profile__team_box .title4{
				line-height: 1;
			}


	.profile_empty_level{
		margin: 85px 0 50px;
		padding: 55px 44px;
		background: rgba(60, 58, 58, 0.3) url(../static/images/empty_icon.jpg) 22px 50% no-repeat;
	}
		.profile_empty_level .title5_roboto{font-weight: 300;}

	.profile_right_box .profile_empty_level{
		padding: 26px 42px;
		margin: 38px 0 50px;
	}

	.empty_block{
		padding-top: 100px;
		text-align: center;
		min-height: 440px;
	}
		.empty_block h6{
			line-height: 1.2;
			font-size: 42px;
			font-weight: 400;
			position: relative;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-family: 'benderregular';
		}
			.empty_block h6::before,
			.empty_block h6::after{
				content: "";
				width: 14px;
				height: 14px;
				left: 50%;
				display: inline-block;
				position: absolute;
				background: url(../static/images/white_plus_min.png) 0 0 no-repeat;
			}
			.empty_block h6::before{
				top: -5px;
				-webkit-transform: translateX(-155px);
				   -moz-transform: translateX(-155px);
				    -ms-transform: translateX(-155px);
				     -o-transform: translateX(-155px);
				        transform: translateX(-155px);
			}
			.empty_block h6::after{
				bottom: -8px;
				-webkit-transform: translateX(145px);
				   -moz-transform: translateX(145px);
				    -ms-transform: translateX(145px);
				     -o-transform: translateX(145px);
				        transform: translateX(145px);
			}
	.empty_block h5{
		font-weight: 300;
	}
		.midle_btn_box{
			margin: auto;
			width: 420px;
		}
			.midle_btn_box a{
				padding: 0 27px;
			}
	

	/*--------  Message animation  --------*/

		.header_user_links_message{
		    position: relative;
		}
		
		.header_user_links_message::after{
			content: "";
			display: block;
			left: 50%;
			top: 50%;
			
			width: 8px;
			height: 5px;
			transform: translate(7px, -3.5px);
			background-color: rgba(8, 165, 231, 0.2);
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			
			position: absolute;
			animation: timing 1.5s ease-out infinite;
  			animation-delay: 0s;
  			-webkit-box-shadow: 0 0 10px rgba(8, 165, 231, 0.8);
			        box-shadow: 0 0 10px rgba(8, 165, 231, 0.8);
		}
			@keyframes timing {
				50%{
					width: 23px;
					height: 18px;
					transform: translate(-1px, -10px);
					background-color: rgba(8, 165, 231, 0.3);
				    -webkit-box-shadow: 0 0 30px rgba(8, 165, 231, 1);
			        		box-shadow: 0 0 30px rgba(8, 165, 231, 1);
				}
			}

		/*-------  New notice  ------*/
			[data-notice="new_menu_notice"]{
				position: relative;
			}
			[data-notice="new_menu_notice"]::after{
				content: "";
				display: inline-block;
				margin-left: 7px;
				/*margin-top: -2px;*/
				-webkit-transform: translateY(-2px);
				   -moz-transform: translateY(-2px);
				    -ms-transform: translateY(-2px);
				     -o-transform: translateY(-2px);
				        transform: translateY(-2px);
				width: 4px;
				height: 4px;
				background-color: #DCDF44;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
			}

			
			[data-notice="new_plan_notice"][data-skin="aqua"]{
				animation: plan 1.5s ease-out infinite;
	  			animation-delay: 0s;
			}
				@keyframes plan {
					0%{
						background-color: rgba(1,245,251,.35);
					}
					20%{
						background-color: rgba(1,245,251,.1);
					}
				}



			.awaits_assessment{
				display: block;
				width: 153px;
				color: #08A5E7;
				font-size: 14px;
				padding: 1px 0 3px 30px;
				border: 1px solid #00B4FF;
				font-family: 'benderregular';
				background: url(../static/images/wait.png) 5px 47% no-repeat;
			}

			.useful_materials_item_text .awaits_assessment{
				margin-left: auto;
				margin-right: auto;
			}

			.btn_done{
				display: block;
				width: 118px;
				color: #08A5E7;
				font-size: 14px;
				padding: 1px 0 3px 30px;
				border: 1px solid #00B4FF;
				font-family: 'benderregular';
				background: rgba(0, 0, 0, 0.18) url(../static/images/tick.png) 5px 47% no-repeat;
			}
	
	/*---------------  PROFESSIONS Slider  ------------*/
		.professions_slider_box{
			margin-top: -50px;
		}

			.prof_box{
				margin-top: 100px;
			}

			.professions_nav{
				position: absolute;
				top: -99px;
				z-index: 99;
				width: 100%;
			}
				

				.profession_link_prev,
				.profession_link_next{
					font-size: 16px;
					color: #41F9FD;
					opacity: .5;
					width: 200px;
					letter-spacing: 1px;
					cursor: pointer;
					padding-top: 15px;
					padding-bottom: 15px;
					font-family: 'benderregular';
				}
				.profession_link_prev:hover,
				.profession_link_next:hover{
					opacity: 1;
				}
				.profession_link_prev{
					float: left;
					padding-left: 50px;
					background: url(../static/images/prev_icon2_slide.png) 16px 50% no-repeat;
				}
				.profession_link_next{
					float: right;
					padding-right: 50px;
					text-align: right;
					background: url(../static/images/next_icon2_slide.png) 92% 50% no-repeat;
				}

				.profession_link_prev.active,
				.profession_link_next.active{
					opacity: 1;
				}

			.professions_slider_box .person_current_level{
				padding: 38px 49px 16px 50px;
			}




	/*-----------------  Mission filter  --------------*/
	  .filter_wrap{
	  		height: 300px;
			margin-top: -100px;
			font-family: 'benderregular';
			
			-webkit-transition: all 0.3s ease;
		    -moz-transition: all 0.3s ease;
		    -o-transition: all 0.3s ease;
		    transition: all 0.3s ease;
	  }
	  .filter_wrap .sticky-wrapper{
	  	margin-top: 50px;
	  	height: 250px;
	  }
	  	.filter_wrap .hey{
	  		height: 100px !important;
	  	}
		.mission_filter{
			padding: 100px 50px 50px 50px;
			background: url(../static/images/filter_bg.png) 0 0 no-repeat;
			-webkit-background-size: 100%;
			     -o-background-size: 100%;
			        background-size: 100%;
			-webkit-transition: all 0.3s ease;
		    -moz-transition: all 0.3s ease;
		    -o-transition: all 0.3s ease;
		    transition: all 0.3s ease;
		}
		.mission_filter:hover{
			background: url(../static/images/filter_bg_act.png) 0 0 no-repeat;
			-webkit-background-size: 100%;
			     -o-background-size: 100%;
			        background-size: 100%;
		}

			.filter_row{
			}
				.filter__titlebox{
					width: 150px;
					float: left;
					height: 100%;
					margin-top: -6px;
					position: relative;
					/*border-right: 1px solid #627E87;*/
				}
					.filter__titlebox::after{
						content: "";
						position: absolute;
						width: 3px;
						height: 3px;
						right: -2px;
						top: 5px;
						background-color: #627E87;
					}
					.filter_row:nth-child(2) .filter__titlebox::after{
						top: 10px;
					}
					.filter_row:last-child .filter__titlebox::after{
						top: 15px;
					}

					.filter__titlebox span{
						color: #08A5E7;
					}
					
				.filter__items{
					padding-left: 50px;
					display: block;
					width: 949px;
					float: left;
					border-left: 1px solid #627E87;
				}
					.filter__items tr{
						margin-top: -2px;
					}
					.filter_row:first-child .filter__items,
					.filter_row:nth-child(2) .filter__items{
						padding-bottom: 17px;
					}
						.filter_row:last-child td{
							margin-bottom: 0;
						}
						.filter__items td{
							line-height: .8;
							color: #BBD4E1;
							opacity: .4;
							font-size: 16px;
							letter-spacing: 1px;
							margin-bottom: 17px;
							display: block;
							float: left;
						}
							.filter__items td a:hover{
								text-decoration: underline;
							}
						.filter__items td.active,
						.filter__items td.active a{
							color: #10F1FF;
							opacity: 1;
							text-decoration: underline;
						}
						.filter__items td:first-child{width: 75px;}
						.filter__items td:nth-child(2){width: 150px;}
						.filter__items td:nth-child(3){width: 143px;}
						.filter__items td:nth-child(4){width: 140px;}
						.filter__items td:nth-child(5){width: 178px;}
						.filter__items td:nth-child(6){width: 104px;}
						.filter__items td:nth-child(7){width: 100px;}
			
			.hey .filter_row{
				display: none;
			}
			.hey .mission_filter{
				margin-top: 0;
				height: 100px;
				padding: 64px 0 0;
				background: url(../static/images/filter_bg_min.png) 0 0 no-repeat;
				-webkit-background-size: 100%;
				     -o-background-size: 100%;
				        background-size: 100%;
				-webkit-transition: all 0.3s ease;
			    -moz-transition: all 0.3s ease;
			    -o-transition: all 0.3s ease;
			    transition: all 0.3s ease;
			}

			.minimize_filter{
				width: 900px;
				margin: auto;
				display: none;
			}
			.hey .minimize_filter{
				display: block;
			}
				.minimize_filter_item{
					width: 33%;
					float: left;
					text-align: center;
				}
					.minimize_filter_item span{
						color: #08A5E7;	
						line-height: 1.57;
						margin-right: 20px;
					}
					.minimize_filter_item a{
						font-size: 16px;
						color: #10F1FF;
						text-decoration: underline;
						
					}



	.new_style .progress_mission_wrapper{
		background: url(../static/images/progress_mission_wrapper_bg2.png) 0 0 no-repeat;
	}
		.new_style .progress_mission_wrapper:before{
			content: none;
		}
		.new_style .progress_mission_info::after{
			background-color: #0B9EDC;
		}




	.log_popup{
		margin-left: auto;
		margin-right: auto;
		width: 598px;
	}
		.new_style .popup__login_content {
			width: 100%;
			padding: 43px 100px 52px;
		}
		.new_style .popup__helper{
			position: relative;
			margin-top: 200px;
			bottom: 0;
		}





[data-bg="empty_team"]{
	background: url(../static/images/team_bg_empty.png) 0 0 no-repeat;
}
[data-bg="empty_specialize"]{
	background: url(../static/images/specialize_empty.png) 0 0 no-repeat;
}

.new_style .person_skill_label:before{
	width: 30px;
	height: 31px;
	text-align: center;
}


.person_skill_label[data-skillType="control"]:before{
	background: url(../static/images/skill_control_icon.png) 0 50% no-repeat;
}
.person_skill_label[data-skillType="plan"]:before{
	background: url(../static/images/skill_plan_icon.png) 0 50% no-repeat;
}
.person_skill_label[data-skillType="lead"]:before{
	background: url(../static/images/skill_lead_icon.png) 0 50% no-repeat;
}



	/*-----------  TUTS  ----------*/
		.tuts_wrap{
			
		}
			.name_box{
				width: 250px;
				height: 99px;
				float: left;
				margin-right: 18px;
				border: 1px solid #07BBFF;
				background-color: rgba(4, 22, 29, .85);
				position: relative;
			}
				.name_box:before,
				.tuts_info:before{
					content: "";
					width: 13px;
					height: 13px;
					position: absolute;
					left: -7px;
					top: -7px;
					background: url(../static/images/plus_blue.png) 0 0 no-repeat;
				}
				.name_box .img_box{
					width: 97px;
					float: left;
				}
				.name_box figcaption{
					float: left;
					font-size: 16px;
					color: #08B1F1;
					font-family: 'benderregular';
					padding: 25px 0 0 25px;
					line-height: 1.5;
					letter-spacing: 1px;
				}

			.tuts_info{
				float: left;
				width: 656px;
				padding: 30px 20px 10px 30px;
				border-left: 1px solid #07BBFF;
				border-top: 1px solid #07BBFF;
				border-right: 1px solid #07BBFF;
				background-color: rgba(4, 22, 29, .85);
				position: relative;
			}
				.tuts_info:after{
					content: "";
					width: 656px;
					height: 16px;
					position: absolute;
					left: -1px;
					right: 0;
					bottom: -15px;				
					background: url(../static/images/tuts_border.png) 0% 100% no-repeat;
				}
					.abilities_list{
						margin-top: 37px;
					}

						.abilities_item{
							padding-left: 40px;
							margin-bottom: 15px;
							line-height: 1.8;
							font-size: 16px;
							list-style: 1;
							font-weight: 300;
						}

						[data-ability="ability_profile"]{
							background: url(../static/images/profile_icon.png) 0 50% no-repeat;
						}
						[data-ability="ability_alert"]{
							background: url(../static/images/alert_icon.png) 5px 50% no-repeat;
						}
						[data-ability="ability_team"]{
							background: url(../static/images/team_action.png) 0 50% no-repeat;
						}
						[data-ability="ability_code"]{
							padding: 10px 0 10px 40px;
							background: url(../static/images/code_active.png) 0 50% no-repeat;
						}
						[data-ability="ability_according"]{
							background: url(../static/images/accordion_icon4_hov.png) 0 5px no-repeat;
						}

					.tuts_nav{
						
					}
						.tuts_pagination{
							margin-left: -5px;
							float: left;
							width: 120px;
							padding-top: 15px;
						}
							.tuts_pagination li a{
								width: 4px;
								height: 4px;
								margin: 0 5px;
								background-color: rgba(8, 249, 255, 0.5);
								float: left;
								-webkit-border-radius: 50%;
								        border-radius: 50%;
							}
							.tuts_pagination li a:hover{
								background-color: #FFF;
							}
							.tuts_pagination li.active a{
								position: relative;
								background-color: #fff;
								z-index: 20;
								width: 10px;
								height: 10px;
								margin: -3.5px 3.5px 0;
								border: 1px solid #08F9FF;
								background-color: #000;
							}
							.tuts_pagination li.active a:before{
								content: "";
								width: 4px;
								height: 4px;
								position: absolute;
								-webkit-border-radius: 50%;
								        border-radius: 50%;
								background-color: #FFF;
								z-index: 10;
								left: 2px;
								top: 2px;
							}

						.tuts_next{
							float: right;
							padding: 3px 17px 3px 3px;
							font-size: 16px;
							color: #08F9FF;
							opacity: .5;
							letter-spacing: 1px;
							font-family: 'benderregular';
							background: url(../static/images/next_icon.png) 100% 60% no-repeat;
						}
							.tuts_next:hover{opacity: 1;}

						.tuts_info p{
							line-height: 1.5;
						}

						.close_tuts{
							position: absolute;
							right: 20px;
							top: 35px;
							color: transparent;
							font-family: 'benderregular';
							padding-right: 26px;
							opacity: 0.5;
							letter-spacing: 1px;
							background: url(../static/images/close_yellow.png) 100% 50% no-repeat;
						}
						.close_tuts:hover{
							opacity: 1;
							color: #dcdf44;
						}


	.unlocked_box{
		width: 800px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 75px;
		padding-bottom: 120px;
		text-align: center;
		background: url(../static/images/unlock_mission.gif) 50% 50% no-repeat;
	}
		.count_code{
			font-family: 'benderbold';
			font-size: 22px;
			margin-left: 10px;
			margin-right: 10px;
			line-height: 1;
		}