/**
 * Gridpak Beta LESS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */

/* Reusable column setup */
.mixin-col {
     border:0px solid rgba(0,0,0,0);
     float:left;
     -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
     box-sizing:border-box;
     -moz-background-clip:padding-box !important;
     -webkit-background-clip:padding-box !important;
     background-clip:padding-box !important;
}
.col {
     .mixin-col;
}

.mixin-span(@num, @gutter_pc, @gutter_px, @padding, @max_columns) {
    @one_col: (100% - (@gutter_pc * (@max_columns - 1))) / @max_columns;
    width:(@one_col * @num) + (@gutter_pc * (@num - 1));
    border-left-width:@gutter_px;
    padding:@padding;
    margin-left:@gutter_pc;
}
.mixin-span_first {
    margin-left:0;
}
 
 

    /* 1. 24 Column Grid 0px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1:    4.16666666667%
    Span 2:    8.33333333333%
    Span 3:    12.5%
    Span 4:    16.6666666667%
    Span 5:    20.8333333333%
    Span 6:    25.0%
    Span 7:    29.1666666667%
    Span 8:    33.3333333333%
    Span 9:    37.5%
    Span 10:    41.6666666667%
    Span 11:    45.8333333333%
    Span 12:    50.0%
    Span 13:    54.1666666667%
    Span 14:    58.3333333333%
    Span 15:    62.5%
    Span 16:    66.6666666667%
    Span 17:    70.8333333333%
    Span 18:    75.0%
    Span 19:    79.1666666667%
    Span 20:    83.3333333333%
    Span 21:    87.5%
    Span 22:    91.6666666667%
    Span 23:    95.8333333333%
    Span 24:    100%
    
    ----------------------------------------------------------------------------- */	
    
	@media screen and (min-width: 0px) {
        
        .col {
            margin-left:0%;
            padding:0 0%;
        }
        
        /* --- Gridpak variables ---*/ 
        @max_columns: 24;
        @padding: 0 0%;
        @gutter_px: 0;
        @gutter_pc: 0%;
        

        
        .row .col:first-child {
            .mixin-span_first;
        }
        
        
        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.
        
        .span_3,
        .my_semantic_class_name {
            ...
        }
        
        */
        .span_1 {
            .mixin-span(1, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_2 {
            .mixin-span(2, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_3 {
            .mixin-span(3, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_4 {
            .mixin-span(4, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_5 {
            .mixin-span(5, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_6 {
            .mixin-span(6, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_7 {
            .mixin-span(7, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_8 {
            .mixin-span(8, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_9 {
            .mixin-span(9, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_10 {
            .mixin-span(10, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_11 {
            .mixin-span(11, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_12 {
            .mixin-span(12, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_13 {
            .mixin-span(13, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_14 {
            .mixin-span(14, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_15 {
            .mixin-span(15, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_16 {
            .mixin-span(16, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_17 {
            .mixin-span(17, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_18 {
            .mixin-span(18, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_19 {
            .mixin-span(19, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_20 {
            .mixin-span(20, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_21 {
            .mixin-span(21, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_22 {
            .mixin-span(22, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_23 {
            .mixin-span(23, @gutter_pc, @gutter_px, @padding, @max_columns);
        }
        .span_24 {
            .mixin-span_first;
            width:100%;
        }
    }

